<div class="article">
	<section
		class="article__content"
		itemscope
		itemtype="http://schema.org/Article"
	>
		<header class="article__header article-header flex-column">
			<div class="article-header__top flex-align-center">
				<div class="article-header__block flex-align-center">
					<a
						class="article-blog__category article-category"
						href="#!"
					>
						Тренды
					</a>

					<div
						class="article__author article-author flex-align-center"
						itemprop="author"
						itemscope
						itemtype="https://schema.org/Person"
					>
						<img
							class="article-author__photo"
							src="assets/images/blog/photo.webp"
							width="42"
							height="42"
							alt="Абрамов А."
							decoding="auto"
						>

						<span
							class="article-author__name"
							itemprop="name"
						>
							Абрамов А.
						</span>

						<link
							itemprop="url"
							href="https://example.com/authors/abramov"
						>
					</div>
				</div>

				<div class="article-header__block flex-align-center">
					<time
						class="article__date article-date"
						datetime="2024-10-12T09:20+06:00"
						itemprop="datePublished"
					>
						12 октября 2024
					</time>

					<div class="article-meta flex-align-center">
						<div
							class="article-meta__element article-meta__views bg-icon-28 flex-align-center"
							style="background-image: url('assets/svg/blog/eye.svg');"
						>
							244
						</div>

						<div
							class="article-meta__element article-meta__comments bg-icon-28 flex-align-center"
							style="background-image: url('assets/svg/blog/comment.svg');"
						>
							44
						</div>
					</div>
				</div>
			</div>

			<div class="article-header__middle flex-column">
				<h1
					class="h1 article__main-title"
					itemprop="headline"
				>
					5 ошибок в ТЗ от сеошников, которые раздражают исполнителей
				</h1>

				<div class="article__descr txt-wrap">
					<p class="article__txt">
						Создаем и поддерживаем эффективные цифровые платформы для онлайн-продаж, улучшая пользовательский опыт
						и увеличивая
						конверсии.
					</p>
				</div>
			</div>

			<div class="likely-wrap flex-column">
				<span class="likely__request">
					Поделиться:
				</span>

				<div class="likely likely-big flex-align-center">
					<div class="telegram"></div>
					<div class="vkontakte"></div>
					<div class="odnoklassniki"></div>
					<div class="xcom"></div>
				</div>
			</div>

			<div class="article-header__bottom">
				<figure>
					<img
						class="article__img"
						src="assets/images/blog/article-img-1.webp"
						width="650"
						height="410"
						alt="Лестницы и арки зелёных оттенков в пустом пространстве"
						loading="lazy"
						decoding="auto"
						itemprop="image"
					>

					<figcaption>
						Рис.1. 5 ошибок в ТЗ от сеошников.
					</figcaption>
				</figure>
			</div>
		</header>

		<ul
			class="spoilers-list"
			data-spoilers-list="576,max"
		>
			<li
				class="spoiler-item spoiler"
				data-spoiler
			>
				<button
					class="spoiler-title active"
					data-spoiler-title
					tabindex="-1"
				>
					Содержание:
				</button>

				<div
					class="spoiler-content"
					data-spoiler-content
				>
					<div class="spoiler-content-inner">
						<nav
							class="post-main__nav-page nav-page flex-column"
							data-nav-page
						>
							<div class="nav-page__block flex-column">
								<span class="nav-page__title"></span>

								<ol
									class="nav-page__list flex-column"
									data-nav-page-list
								></ol>
							</div>
						</nav>
					</div>
				</div>
			</li>
		</ul>

		<article
			class="article__body"
			itemprop="articleBody"
		>

		</article>

		<div
			class="scheme-organization visually-hidden"
			itemprop="publisher"
			itemscope
			itemtype="http://schema.org/Organization"
		>
			<span
				class="scheme-organization__company"
				itemprop="name"
			>
				Fireseo — Агентство интернет-маркетинга
			</span>

			<link
				itemprop="url"
				href="/"
			>

			<div
				itemprop="address"
				itemscope
				itemtype="https://schema.org/PostalAddress"
			>
				<span itemprop="postalCode">111123</span>,
				<span itemprop="addressCountry">RU</span>,
				<span itemprop="addressRegion">Московская</span>,
				<span itemprop="addressLocality">Москва</span>,
				<span itemprop="streetAddress">шоссе Энтузиастов, дом 56, строение 26, офис 304</span>
			</div>

			<div>
				Время работы: пн-пт: 10:00 — 19:00, сб-вс: Выходной

				<meta
					itemprop="openingHours"
					content="Mo-Fr 09:00-19:00"
				>
			</div>

			<address class="contacts">
				<div class="contacts__links">
					<a
						class="contacts__link contacts__phone state-accent-light"
						href="tel:+74993466992"
						target="_blank"
						itemprop="telephone"
					>
						+7 (499) 346-69-92
					</a>

					<a
						class="contacts__link contacts__mail state-accent-light"
						href="mailto:info@fireseo.ru"
						itemprop="email"
					>
						info@fireseo.ru
					</a>
				</div>

				<div class="contacts__messengers">
					<a
						class="contacts__link contacts__telegram"
						href="https://t.me/+79775725932"
						target="_blank"
						aria-label="Связаться с нами через телеграм"
					>
						<svg
							class="contacts__svg"
							aria-hidden="true"
						>
							<use xlink:href="assets/svg/sprite/sprite.svg#telegram"></use>
						</svg>

						Telegram
					</a>

					<a
						class="contacts__link contacts__whats-app"
						href="https://wa.me/79775725932"
						target="_blank"
						aria-label="Связаться с нами через ватсап"
					>
						<svg
							class="contacts__svg"
							aria-hidden="true"
						>
							<use xlink:href="assets/svg/sprite/sprite.svg#whats-app"></use>
						</svg>

						WhatsApp
					</a>
				</div>
			</address>

			<img
				itemprop="image"
				width="138"
				height="24"
				alt="Логотип FireSeo — Агентства интернет-маркетинга"
				src="assets/svg/logo.svg"
			>
		</div>

		<meta
			itemscope
			itemprop="mainEntityOfPage"
			itemType="https://schema.org/WebPage"
			itemid="#!"
		>
	</section>
</div>