// Fonts
$fz-text: 16
$fz-text-x2: $fz-text*2
$fz: $fz-text+px
$lh: 1.5

$font-name-title: 'Play-font'

$font-name-text: 'Play-font'

$font-name-body: 'Play-font'

$ff-title: $font-name-title

$ff-text: $font-name-text

$ff-body: $font-name-body
// End. Fonts