// Grid gutter
$gutter-num: 30
$gutter: $gutter-num+px
// End. Grid gutter

// Greed system
$content-width: 1202
$screen-min-width: 320

$container-offset: 20

$container-offset-x2: $container-offset*2

$container-width: $content-width + $container-offset*2

$container-width-px: $container-width+px

$container-offset-x2-px: $container-offset*2+px

$container-width-px: $container-width+px
// End. Greed system