/* DARK SCHEME STYLE */
:root {
	--c-dark: #0c1a01;
	--c-light: #ececec;

	--body-bg: #0c1a01;

	--header-color: #1a3604;
	--header-bg: #b6d383;

	--social-btn-bg: #1a3604;
	--social-btn-color: #ececec;

	--nav-bg: #1a3604;
	--nav-color: #ececec;
	--nav-btn-close-color: #ececec;
	--nav-btn-close-color-hover: #b6d383;
	--nav-link-color-hover: #b6d383;
	--nav-spoiler-border: #b6d383;

	--search-bg: #1a3604;
	--search-border: #b6d383;
	--search-curet-color: #b6d383;
	--search-color: #b6d383;
	--search-input-bg: #2a520b;

	--burger-search-hover: #3a8400;
	--burger-search-text: #1a3604;

	--section-title-color: #ececec;
	--section-description-color: #ececec;
	--section-button-bg: #db2e1c;
	--section-button-fill-color: #ececec;
	--section-button-stroke-color: #ececec;
	--section-button-stroke-color-hover: #ececec;
	--section-button-border: #db2e1c;
	--section-button-bg-hover: #eb1e08;
	--section-button-box-shadow: #eb1e08;

	--article-bg: #ececec;
	--article-info-color: #0c1a01;
	--article-title-link-hover: #07834f;
}
/* END. DARK SCHEME STYLE */

.scheme-switcher__radio {
	filter: invert(1);
}
.scheme-switcher__radio:checked {
	filter: invert(0);
}
.scheme-switcher__status {
	filter: invert(1);
}