.tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	@include calc-size(padding-top, 4, 8, 320, 1920, rem);
	@include calc-size(padding-bottom, 4, 8, 320, 1920, rem);
	@include calc-size(padding-right, 16, 32, 320, 1920, rem);
	@include calc-size(padding-left, 16, 32, 320, 1920, rem);

	border-radius: rem(5);

	color: var(--c-light);

	white-space: nowrap;

	@include min-full-hd-em {
		@include calc-size(padding-top, 8, 16, 1920, 3840, rem);
		@include calc-size(padding-bottom, 8, 16, 1920, 3840, rem);
		@include calc-size(padding-right, 32, 64, 1920, 3840, rem);
		@include calc-size(padding-left, 32, 64, 1920, 3840, rem);

		@include calc-size(border-radius, 5, 10, 1920, 3840, rem);
	}

	&.marigold {
		color: var(--c-text-dark);
	}
}
