	--code-bg: #dfe1e2
	--code-color-tag: #e3704e

	--hljs-bg: #dfe1e2
	--hljs-comment-quote: #414141
	--hljs-name-tag: #d91e18
	--hljs-link-meta-type: #aa5d00
	--hljs-attribute: #aa5d00
	--hljs-addition-bullet-symbol-string: green
	--hljs-section-title: #007faa
	--hljs-keyword-selector: #7928a1