.modal__btn {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.15;
  background-color: #e6e6e6;
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease;

  @media (any-hover: hover) {
    &:hover, &:focus {
      transform: scale(1.05);
    }
  }
}