.body {
	position: relative;

	min-width: $minimal + pz;

	font-family: var(--ff-body);
	font-style: normal;
	font-size: $font-size;
	font-weight: 400;
	line-height: 1.5;

	background-color: var(--c-body-bg);
	color: var(--c-text-dark);
	overflow-x: hidden;

	@include min-full-hd-px {
		@include calc-size(font-size, $font-size, $font-size * 2, 1920, 3840, px);
	}
}