.full-width,
.f-width,
.full-w {
	width: 100%;
}

.text-bold,
.t-bold,
.bold,
.txt-bold {
	font-weight: 700;
}

.txt-accent,
.text-accent,
.accent {
	color: var(--c-accent);
}

.underline {
	text-decoration: underline;
}

.uppercase, .upper {
	text-transform: uppercase;
}

.section__bg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-wrap, .image-wrapper, .img-wrap, .img-wrapper {
	position: relative;
	max-width: 100%;
	width: 100%;
	padding-bottom: 56.25%;

	.image,
	.img,
	.photo,
	.avatar,
	.picture,
	.pic,
	.user-photo,
	img {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.image-bg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.dis-none,
.d-none,
.d-n,
.dn,
.display-none,
.none {
	display: none !important;
}

.stop-scroll {
	position: fixed;
	top: var(--top-position);
	left: 0;
	height: 100vh;
	width: 100vw;
	padding-right: var(--scroll-width);
	overflow: hidden;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	max-width: 100%;
	width: 100%;
	height: auto;

	.video__iframe,
	.video__player,
	iframe,
	video {
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0;
		border: none;
		object-fit: cover;
	}
}

.link {
	transition: color .3s ease;

	@media ( any-hover: hover ) {
		&:hover {
			color: var(--accent);
		}
	}

	&:focus-visible {
		outline-width: $outline-width + px;
		outline-style: dashed;
		outline-color: currentColor;
		outline-offset: $outline-offset + px;

		@media ( min-width: em(1920.96) ) {
			@include calc-size(outline-width, $outline-width, $outline-width * 2, 1920, 3840, px);

			@include calc-size(outline-offset, $outline-offset, $outline-offset * 2, 1920, 3840, px);
		}
	}

	&:active {
		color: var(--accent-dark);
	}
}