@use '../variables/general';
@use '../variables/grid';
@use '../mixins/units';

.body {
	position: relative;

	min-width: grid.$min-screen;

	margin: 0;

	font-family: var(--ff-body);
	font-style: normal;
	font-size: units.rem(general.$fz);
	font-weight: 400;
	line-height: 1.5;

	background-color: var(--body-bg);
	color: var(--text-dark);
	overflow-x: hidden;
}
