@use "../mixins/units";

.page {
	// flex
	display: flex;
	flex-direction: column;
	min-height: 100%;

	// display: grid
	// grid-template-rows: auto 1fr auto
	// min-height: 100%
}

.main {
	// if flex
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: auto;
}

.section {
	position: relative;

	padding-top: units.rem(100);
	padding-bottom: units.rem(100);

	min-width: 0;

	@media (max-width: units.em(1200)) {
		padding-top: units.rem(90);
		padding-bottom: units.rem(90);
	}

	@media (max-width: units.em(1024)) {
		padding-top: units.rem(80);
		padding-bottom: units.rem(80);
	}

	@media (max-width: units.em(992)) {
		padding-top: units.rem(70);
		padding-bottom: units.rem(70);
	}

	@media (max-width: units.em(768)) {
		padding-top: units.rem(60);
		padding-bottom: units.rem(60);
	}

	@media (max-width: units.em(576)) {
		padding-top: units.rem(50);
		padding-bottom: units.rem(50);
	}
}

.section__title {
	text-align: center;
}