@use '../mixins/units';

.icon-bg-80 {
	background-size: units.rem(80) units.rem(80);
	background-repeat: no-repeat;
}

.icon-bg-24 {
	background-size: units.rem(24) units.rem(24);
	background-repeat: no-repeat;
}
