@use "../mixins/units";

.h1,
.h2,
.h3,
.h4 {
	font-family: var(--ff-title);
	line-height: 120%;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: inherit;
}

.h1 {
	font-size: units.rem(68);

	@media (max-width: units.em(1200)) {
		font-size: units.rem(58);
	}

	@media (max-width: units.em(1024)) {
		font-size: units.rem(48);
	}

	@media (max-width: units.em(768)) {
		font-size: units.rem(38);
	}
}

.h2 {
	font-size: 42px;

	color: var(--text-dark);

	@media (max-width: units.em(1024)) {
		font-size: units.rem(30);
	}

	@media (max-width: units.em(768)) {
		font-size: units.rem(26);
	}
}


