@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/fluid-size";

.select-expanded__title {
	width: 100%;

	padding: 18) 20);

	border: 1) solid var(--pinball);
	border-radius: 8);

	transition:
		border-color 0.3s ease,
		color 0.3s ease;

	@media (max-width: 576)) {
		padding: 16) 20);
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--accent);
			border-color: var(--accent);
		}
	}

	&:focus-visible {
		outline-color: var(--accent);
		outline-style: dashed;
		outline-width: $outline-width);
		outline-offset: $outline-offset);
	}

	&:active {
		color: var(--primary);
		border-color: var(--primary);
	}
}

.select-expanded__title.is-active {
	border-color: var(--sooty);

	@media (any-hover: hover) {
		&:hover {
			color: var(--accent);
			border-color: var(--accent);
		}
	}

	.select-expanded__chevron {
		transform: rotate(180deg);
	}
}
