// READ-PROGRESS-CIRCLE
// @import 'read-progress-circle'
// END. READ-PROGRESS-CIRCLE

.circle-block
	position: fixed
	right: 30px
	bottom: 30px
	z-index: 1000
	width: 50px
	svg
		width: 50px
.circle-block__progress
	stroke: $accent
	stroke-width: 20
