@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.modal__container {
	box-sizing: border-box;

	max-width: 560px;
	max-height: 90vh;
	width: 100%;

	margin: units.rem(10);
	padding: var(--modal-container-padding);
	padding-top: calc(var(--modal-container-padding) + var(--modal-close-height) + 1rem);

	background-color: #fff;

	border-radius: var(--modal-container-bor-radius);

	overflow-y: auto;
}

.modal .modal__container {
	will-change: transform;
}

.modal[aria-hidden="false"] {
	.modal__container {
		animation: microModalSlideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
	}
}

.modal[aria-hidden="true"] {
	.modal__container {
		animation: microModalSlideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
	}
}
