<div
	class="modal micromodal-slide modal--account"
	id="modal-account"
	aria-hidden="true"
	data-micromodal
>
	<div class="modal__overlay" tabindex="-1" data-micromodal-close>
		<div
			class="modal__container"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modal-account-title"
			aria-describedby="modal-account-description"
		>
			<header>
				<h2 class="modal__title visually-hidden" id="modal-account-title">
					Модальное окно MicroModal
				</h2>

				<p
					class="modal__description visually-hidden"
					id="modal-account-description"
				>
					Это модальное окно Micromodal содержит в себе форму заказа обратного
					звонка
				</p>

				<button
					class="modal__close"
					aria-label="Закрыть модальное окно"
					data-micromodal-close
				></button>
			</header>

			<div class="modal__main" id="modal-account-content">Modal Content</div>
		</div>
	</div>
</div>
