/* LIGHT SCHEME STYLE */
:root {
	--color-scheme: light;

	--c-accent: #d93737;

	--c-dark: #202020;
	--c-darken: #000;

	--c-light: #ececec;
	--c-lighten: #fff;

	--border-radius: 4px;
}

/* END. LIGHT SCHEME STYLE */

.scheme-switcher__radio {
	filter: invert(0);
}

.scheme-switcher__radio:checked {
	filter: invert(1);
}

.scheme-switcher__status {
	filter: invert(0);
}

.page-blog .section-header::after {
	opacity: 0.3;
}
