.scheme-switcher__radio--light {
  background-image: url(../images/dist/scheme-light-sun.svg);

  &:checked {
    ~ .scheme-switcher__status {
      background-position: left rem(2) center;

      @media (min-width: em(2880.96)) {
        background-position: left calc-size-without-property(2, 4, 1920, 3840, rem) center;
      }
    }
  }
}