.scheme-switcher {
	position: relative;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	max-width: rem(100);
	padding: rem(2);
	border: none;

	@media (min-width: em(1920.96)) {
		@include calc-size(max-width, 100, 200, 1920, 3840, rem);

		@include calc-size(padding, 2, 4, 1920, 3840, rem);
	}
}
