.application .section__body {
	display: flex;
	align-items: center;
	gap: rem(20);

	@media ( min-width: em(1920.96) ) {
		@include calc-size(gap, 20, 40, 1920, 3840, rem);
	}

	@media ( max-width: em(768) ) {
		flex-wrap: wrap;
	}
}