// BREAKPOINTS BOOTSTRAP-5
// +media-breakpoint-up(xxl) — min-width
// +media-breakpoint-down(xxl) — max-width

// 	xs: 0,
// 	sm: 576px, em(576), 36em
// 	md: 768px, em(768), 48em
// 	lg: 992px, em(992), 64em
// 	xl: 1200px, em(1200), 75em
// 	xxl: 1400px, em(1400), 87.5em

// +media-breakpoint-down(xs)
// +media-breakpoint-down(sm)
// +media-breakpoint-down(md)
// +media-breakpoint-down(lg)
// +media-breakpoint-down(xl)
// +media-breakpoint-down(xxl)

// +media-breakpoint-up(xxl)
// +media-breakpoint-up(xl)
// +media-breakpoint-up(lg)
// +media-breakpoint-up(md)
// +media-breakpoint-up(sm)
// +media-breakpoint-up(xs)
// END. BREAKPOINTS BOOTSTRAP-5


// GENERAL DOCUMENT STYLES
*, *::before, *::after
	box-sizing: border-box
	padding: 0
	margin: 0
	border: 0

::placeholder
	color: #666

::selection
	background-color: $c-accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

ul, ol
	list-style: none
	padding: 0
	margin: 0

button, a
	display: inline-block
	@media ( any-hover: hover )
		cursor: pointer
a
	text-decoration: none
	color: inherit

header, section, footer, .s__section
	position: relative

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
	+ff-title

h1, .h1
	line-height: 1.3
	letter-spacing: 3px

.ibg
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	position: relative
	img
		width: 0
		height: 0
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden

.img-resp, .image-resp
	display: block
	max-width: 100%
	width: 100%
	height: auto

.fullWidth, .full-width, .fWidth, .f-width, .fullW, .full-w
	width: 100%

.resp-img, .resp-image
	position: relative
	overflow: hidden
	padding: 0 0 62% 0
	img
		position: absolute
		width: 100%
		height: 100%
		top: 0
		right: 0
		bottom: 0
		left: 0
		object-fit: cover

.hidden
	pointer-events: none
	visibility: hidden
	font-size: 0
	line-height: 0
	width: 0
	height: 0
	position: absolute
	top: -110%
	left: -110%

.dis-none, .d-none, .d-n, .disNone, .dNone
	display: none

// Grid container
.container-fluid
	max-width: 100%
	width: 100%
	margin: 0 auto
	padding: 0 calc($gutter / 2)
.container
	max-width: $widthContainer
	width: 100%
	margin: 0 auto
	padding: 0 calc($gutter / 2)

html, body
	height: 100%

body
	+ff-text
	font-size: $fz
	font-weight: 400
	line-height: $lh
	min-width: $minWidth
	position: relative
	overflow-x: hidden

.page
	display: flex
	flex-direction: column

.page__main
	min-height: 100%
	flex: 1 1 auto