// GRID SYSTEM
$grid-gutter-width: 30px
$gutter: $grid-gutter-width


// Minimum and maximum width, container width, design width
$minWidth: 320px
$maxWidth: 1920px
$widthContainer: 1140px
$widthDesign: 1600


// RESPONSIVE VALUE (FONT SIZE, INDENTS: MARGIN, PADDING...)
@mixin ad-val($propName, $startSize, $minSize)
	$addSize: $startSize - $minSize
	#{$propName}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth}) / #{$widthDesign - 320}))
// END. RESPONSIVE VALUE (FONT SIZE, INDENTS: MARGIN, PADDING...)

// RESPONSIVE VALUE (FONT SIZE, INDENTS: MARGIN, PADDING...)
// @mixin ad-val($propName, $startSize, $minSize)
// 	$addSize: $startSize - $minSize
// 	#{$propName}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth}) / #{$widthDesign - 320}))
// 	@media ( min-width: #{$widthDesign + px} )
// 		#{$propName}: #{$startSize + px}
// END. RESPONSIVE VALUE (FONT SIZE, INDENTS: MARGIN, PADDING...)


// AUTOMATIC RECALCULATION "PX" to "EM"
// Use as follows — font-size: em(16)
@function em($pixels, $context: $fz)
	@if unitless($pixels)
		$pixels: $pixels * 1px
	@if unitless($context)
		$context: $context * 1px
	@return calc($pixels / $context) * 1em
// END. AUTOMATIC RECALCULATION "PX" to "EM"


// PX TO %
@function perc($pxOne, $pxTwo)
	$result: math.div($pxTwo, $pxOne) * 100%
	@return $result


// PX TO REM
@function rem($px)
	$result: calc($px / 16) + rem
	@return $result


// PX TO EM
// @function em($px)
// 	$result: math.div($px, 16) + em
// 	@return $result


// Hover
@mixin hov()
	&:hover
		@content


// Hover
@mixin foc()
	&:focus
		@content


// Hover + Focus
@mixin h-f()
	&:hover, &:focus
		@content


// Active
@mixin active()
	&:active
		content: ''
		@content


// After
@mixin aft()
	&:after
		content: ''
		@content


// Before
@mixin bef()
	&:before
		content: ''
		@content


// OVERLAY
@mixin overlay($opacity, $color)
	&:after
		content: ""
		display: block
		height: 100%
		width: 100%
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		opacity: $opacity
		background-color: $color
		@content
// END. OVERLAY


// TRANSITION
@mixin tr($transit-time)
	transition: all $transit-time ease

@mixin tr-custom($sense, $transit-time)
	transition: $sense $transit-time ease
// END. TRANSITION


// Символ рубля
@mixin rub()
	&::after
		content: "₽"
		@content


// Выравнивание по центру
@mixin ab-center()
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	@content


// Выше абсолютного элемента
@mixin bl-top($zIndex)
	position: relative
	z-index: $zIndex