# EditorConfig - это замечательно: http://EditorConfig.org

# Файл EditorConfig верхнего уровня
root = true



[*]
charset = utf-8
indent_style = tab
indent_size = 2

# Переводы строк в стиле Unix с пустой строкой в конце файла
end_of_line = lf
insert_final_newline = true



[*.md]
# Убираем пробелы в конце строк
trim_trailing_whitespace = false



[*.html]
# Убираем пробелы в конце строк
trim_trailing_whitespace = true

# Убираем пустую строку в конце файла
insert_final_newline = false



[*.sass]
# Убираем пробелы в конце строк
trim_trailing_whitespace = true

# Убираем пустую строку в конце файла
insert_final_newline = false



[*.scss]
# Убираем пробелы в конце строк
trim_trailing_whitespace = true

# Убираем пустую строку в конце файла
insert_final_newline = false



[*.js]
# Убираем пробелы в конце строк
trim_trailing_whitespace = true



# Но не переформатируем минифицированные JS и CSS файлы.
[*.min.*]
indent_style = ignore
trim_trailing_whitespace = false
insert_final_newline = ignore

