# Зависимости
node_modules/
vendor/
.pip-modules/

# Сборки и артефакты
dist/
build/
out/
_site/
*.exe
*.dll
*.so
*.dylib

# Кэш и временные файлы
.cache/
.tmp/
temp/
tmp/

# Файлы IDE
*.swp
*.swo

# Логи
*.log
logs/

# Окружение
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Операционные системы
.DS_Store
Thumbs.db