$c-checkbox: #c3c5c9
$c-checkbox-hover: #abaeb5
$c-checkbox-active:#3366ff
$c-checkbox-check: #fff
$fz-checkbox-check: 14px
$tr-duration: .3s

.input-checkbox
	position: absolute
	width: 1px
	height: 1px
	top: -1000px
	left: -1000px
	font-size: 0

.input-checkbox:checked ~
	.checkbox-fake
		background-color: $c-checkbox-active
		.checkbox-fake__check
			opacity: 1

.checkbox-fake 
	display: flex
	align-items: center
	justify-content: center
	width: 20px
	height: 20px
	border: none
	background-color: $c-checkbox
	cursor: pointer
	border-radius: 3px
	transition: background-color $tr-duration ease, color $tr-duration ease
	&:hover, &:focus
		background-color: $c-checkbox-hover
		color: $c-checkbox-hover

.checkbox-fake__check
	font-size: $fz-checkbox-check
	color: $c-checkbox-check
	opacity: 0
	transition: opacity $tr-duration ease