$c-checkbox: #c3c5c9
$c-checkbox-hover: #abaeb5
$c-checkbox-active:#3366ff
$c-checkbox-check: #fff
$fz-checkbox-check: 14px
$tr-duration: .3s

.checkbox-label
	display: inline-flex
	align-items: center
	cursor: pointer

	.checkbox-input
		position: absolute
		white-space: nowrap
		width: 1px
		height: 1px
		overflow: hidden
		border: 0
		padding: 0
		clip: rect(0 0 0 0)
		clip-path: inset(50%)
		margin: -1px

	.checkbox-input:checked ~
		.checkbox-fake
			background-color: $c-checkbox-active
			.checkbox-fake__check
				opacity: 1

	.checkbox-fake 
		display: flex
		align-items: center
		justify-content: center
		width: 20px
		height: 20px
		border: none
		background-color: $c-checkbox
		cursor: pointer
		border-radius: 3px
		transition: background-color $tr-duration ease, color $tr-duration ease
		&:hover, &:focus
			background-color: $c-checkbox-hover
			color: $c-checkbox-hover

	.checkbox-fake__check
		font-size: $fz-checkbox-check
		color: $c-checkbox-check
		opacity: 0
		transition: opacity $tr-duration ease