.hljs {

	overflow-x: auto;
	display: block;

	padding-left: 1em;
	padding-right: 1em;
	line-height: 1.5;

	white-space: pre;

	hyphens: none;

	text-align: left;

	color: var(--c-text);

	background-color: var(--hljs-bg);

	border-radius: rem($bor-rad);

	direction: ltr;

	word-spacing: normal;
	word-break: normal;
	tab-size: 2;

	@media (min-width: em(1920.96)) {
		@include calc-size(border-radius, $bor-rad, $bor-rad * 2, 1920, 3840, rem);
	}
}
