@font-face {
	font-family: NunitoSans;
	src: url('../assets/fonts/NunitoSans-VariableFont.woff2') format('woff2-variations');
	src: url('../assets/fonts/NunitoSans-VariableFont.woff2') format('woff2') tech('variations');
	font-display: swap;
	font-weight: 100 900;
}
