<fieldset class="fieldset">
	<legend class="legend">
		Сделайте выбор?
	</legend>

	<label class="checkbox-label">
		<input
			class="checkbox-input"
			type="checkbox"
			id="first_solution"
			value="first_solution"
			name="solution"
			checked
			required
		>

		Первый чекбокс
	</label>

	<label class="checkbox-label">
		<input
			class="checkbox-input"
			type="checkbox"
			id="second_solution"
			value="second_solution"
			name="solution"
			required
		>

		Второй чекбокс
	</label>
</fieldset>