.intro .intro__image-arrow {
	position: absolute;
	left: 50%;
	bottom: 0;

	width: auto;
	@include calc-size(height, 130, 250, 576, 1920, rem);

	transform-origin: bottom;

	transform: translateX(-50%);

	@media ( min-width: em(1920.96) ) {
		@include calc-size(height, 250, 500, 1920, 3840, rem);
	}

	@media ( max-width: em(768) ) {
		@include calc-size(height, 127, 300, 320, 768, rem);
	}
}