.loader__row {
	display: flex;
	align-items: center;
	column-gap: rem(16);

	width: 100%;

	@include min-full-hd-em {
		@include calc-size(column-gap, 16, 32, 1920, 3840, rem);
	}

	&:not(:last-child) {
		margin-bottom: rem(8);

		@include min-full-hd-em {
			@include calc-size(margin-bottom, 8, 16, 1920, 3840, rem);
		}

	}
}