@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/fluid-size";

.select-expanded__chevron {
	width: units.rem(15);
	height: units.rem(9);

	margin-left: auto;

	transition: transform 0.3s ease;
}