@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/fluid-size";

.select-expanded__text {
	color: var(--c-gray);
	text-align: left;
	text-transform: capitalize;
}