@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/fluid-size";

.select-expanded__title {
	width: 100%;

	padding: units.rem(18) units.rem(20);

	border: units.rem(1) solid var(--pinball);
	border-radius: units.rem(8);

	transition:
		border-color 0.3s ease,
		color 0.3s ease;

	@media (max-width: units.rem(576)) {
		padding: units.rem(16) units.rem(20);
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--accent);
			border-color: var(--accent);
		}
	}

	&:focus-visible {
		outline-width: units.rem(general.$outline-width);
		outline-style: dashed;
		outline-color: var(--accent);
		outline-offset: units.rem(general.$outline-offset);
	}

	&:active {
		color: var(--primary);
		border-color: var(--primary);
	}
}

.select-expanded__title.is-active {
	border-color: var(--sooty);

	@media (any-hover: hover) {
		&:hover {
			color: var(--accent);
			border-color: var(--accent);
		}
	}

	.select-expanded__chevron {
		transform: rotate(180deg);
	}
}