@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.checkbox-input {
	--checkbox-width: calc((18 / 16) * 1rem);
	--checkbox-height: calc((18 / 16) * 1rem);
	--checkbox-border-color: var(--light);
	--checkbox-border-width: calc((1 / 16) * 1rem);
	--checkbox-border-radius: calc((3 / 16) * 1rem);

	--checkbox-before-width: calc((12 / 16) * 1rem);
	--checkbox-before-height: calc((12 / 16) * 1rem);
	--checkbox-before-bg-color: var(--light);
	--checkbox-before-border-radius: calc((2 / 16) * 1rem);

	appearance: none;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: var(--checkbox-width);
	height: var(--checkbox-height);
	margin: 0;

	background-color: transparent;
	border: var(--checkbox-border-width) solid var(--checkbox-border-color);
	border-radius: var(--checkbox-border-radius);

	&:focus-visible {
		outline-color: currentColor;
		outline-style: dashed;
		outline-width: 1);
		outline-offset: $outline-offset);
	}

	&:before {
		content: "";

		position: absolute;
		top: 50%;
		left: 50%;

		display: block;
		width: var(--checkbox-before-width);
		height: var(--checkbox-before-height);

		margin: auto;

		background-color: var(--checkbox-before-bg-color);
		border-radius: var(--checkbox-before-border-radius);

		opacity: 0;

		cursor: pointer;

		transition: opacity 0.3s ease;

		transform: translate(-50%, -50%);

		will-change: opacity;
	}

	&:checked {
		&:before {
			content: "";

			opacity: 1;
		}
	}
}

.modal .checkbox-input {
	--checkbox-border-color: var(--warm-forever);
	--checkbox-before-bg-color: var(--warm-forever);
}
