@use 'sass:math';
@use '../variables/general';
@use '../variables/grid';

@mixin adaptive-text($max: 48, $min: general.$fz) {
  $max-viewport-width: grid.$content-width;
  $min-viewport-width: grid.$min-screen;

  $max-size: math.div($max, general.$fz);
  $min-size: math.div($min, general.$fz);
  $max-width: math.div($max-viewport-width, general.$fz);
  $min-width: math.div($min-viewport-width, general.$fz);

  $slope: math.div(($max-size - $min-size), ($max-width - $min-width));
  $y-axis-intersection: -$min-width * $slope + $min-size;

  font-size: clamp(
    #{$min-size * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$max-size * 1rem}
  );
}