@use "sass:math";
@use "../variables/general";
@use "../variables/grid";

@mixin adaptive-value-rem($prop-name, $min, $max) {
	$max-viewport-width: grid.$container-width;
	$min-viewport-width: grid.$min-screen;

	$max-size: math.div($max, $fz);
	$min-size: math.div($min, $fz);
	$max-width: math.div($max-viewport-width, $fz);
	$min-width: math.div($min-viewport-width, $fz);

	$slope: math.div(($max-size - $min-size), ($max-width - $min-width));
	$y-axis-intersection: -$min-width * $slope + $min-size;

	#{$prop-name}: clamp(#{$min-size * 1rem}, #{$y-axis-intersection * 1rem} + #{$slope * 100vw}, #{$max-size * 1rem});
}

@mixin adaptive-value-px($prop-name, $min, $max) {
	$max-viewport-width: grid.$container-width;
	$min-viewport-width: grid.$min-screen;

	$max-size: $max;
	$min-size: $min;
	$max-width: $max-viewport-width;
	$min-width: $min-viewport-width;

	$slope: math.div(($max-size - $min-size), ($max-width - $min-width));
	$y-axis-intersection: -$min-width * $slope + $min-size;

	#{$prop-name}: clamp(#{$min-size * 1px}, #{$y-axis-intersection * 1px} + #{$slope * 100vw}, #{$max-size * 1px});
}

.text {
	font-size: clamp(
		var(--min-font),
		calc(var(--min-font) + (var(--max-font) - var(--min-font)) * (100vw - 320px) / (var(--ideal-viewport) - 320)),
		var(--max-font)
	);
}
