.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 20px;

	@include min-full-hd-em {
		@include calc-size(column-gap, 20, 40, 1920, 3840, px);
	}

	@media (max-width: 576px) {
		row-gap: 6px;
	}
}
