.site-header {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	@include calc-size(padding-top, 12, 24, 320, 1920, px);
	@include calc-size(padding-bottom, 12, 24, 320, 1920, px);

	background-color: var(--body-bg);

	@media (min-width: 1920.96px) {
		@include calc-size(padding-top, 24, 48, 1920, 3840, rem);
		@include calc-size(padding-bottom, 24, 48, 1920, 3840, rem);
	}

	@media (max-width: $switch-point + px) {
		&:after {
			content: "";

			position: absolute;
			z-index: 3;

			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			background-color: var(--body-bg);
		}
	}
}
