@use "../mixins/units";
@use '../variables/grid';

.header {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	padding-top: units.rem(10);
	padding-bottom: units.rem(10);

	background-color: var(--body-bg);

	@media (max-width: units.em(grid.$switch-point)) {
		&:after {
			content: "";

			position: absolute;
			z-index: 3;

			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			background-color: var(--body-bg);
		}
	}
}
