@use 'settings/imports' as *;

@use "header__container";
@use "header__logo";

@use "./nav/nav";

.header {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	padding-top: 10px;
	padding-bottom: 10px;

	background-color: var(--body-bg);

	@media (max-width: $max-switch-point) {
		&:before {
			content: "";

			position: absolute;
			z-index: $z-index-header;

			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			background-color: var(--body-bg);
		}
	}
}
