@use "../mixins/units";

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: units.rem(20);

	@media (max-width: units.em(576)) {
		row-gap: units.rem(6);
	}
}
