@use '../../mixins/units';
@use '../../variables/grid';

.header__nav .nav__list {
	flex-wrap: wrap;
	column-gap: units.rem(grid.$gap);
	row-gap: units.rem(4);

	@media (max-width: units.em(grid.$switch-point)) {
		flex-direction: column;
		row-gap: units.rem(grid.$gap);
	}
}
