@use 'settings/imports' as *;

@use "./nav__list";
@use "./nav__link";

.nav .menu {
	display: inline-flex;
	gap: $gap;

	list-style: none;
}

.header__nav.nav {
	transition:
		right 0.5s ease,
		opacity 0.5s ease;

	@media (max-width: $max-switch-point) {
		position: fixed;
		top: 0;
		right: -100%;

		width: 100%;
		height: 100%;

		background-color: var(--body-bg);

		opacity: 0;
		pointer-events: none;
		user-select: none;
	}
}

.header__nav.nav--is-visible {
	@media (max-width: $max-switch-point) {
		z-index: $z-index-header;
		right: 0;

		padding: calc($container-offset * 1px);
		padding-top: calc(var(--header-height) + calc($container-offset * 1px));

		opacity: 1;
		pointer-events: auto;
	}
}
