<fieldset class="fieldset checkboc">
	<legend class="legend">Сделайте выбор?</legend>

	<label class="checkbox-label">
		<input
			class="checkbox-input"
			type="checkbox"
			id="first_solution"
			value="first_solution"
			name="solution"
			checked
			required
		/>

		<span class="checkbox-txt">Первый чекбокс</span>
	</label>

	<label class="checkbox-label">
		<input
			class="checkbox-input"
			type="checkbox"
			id="second_solution"
			value="second_solution"
			name="solution"
			required
		/>

		<span class="checkbox-txt">Второй чекбокс</span>
	</label>
</fieldset>
