@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

@keyframes ticker {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

@keyframes ticker_duplicate {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-200%);
	}
}
