@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.ticker {
	position: relative;
	width: 100%;
	overflow: hidden;
	user-select: none;
	gap: units.rem(40);

	&:before,
	&:after {
		content: "";

		position: absolute;
		top: 0;
		z-index: 1;

		width: 10%;

		display: block;
		height: 100%;

		@media (max-width: units.rem(576)) {
			width: 15%;
		}
	}

	&:before {
		left: 0;

		background: linear-gradient(90deg, #fff 25%, hsla(0, 0%, 100%, 0));
	}

	&:after {
		right: 0;

		background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff 75%);
	}

	@media (any-hover: hover) {
		&:hover {
			.ticker__wrapper {
				animation-play-state: paused;
			}
		}
	}

	&:focus-visible {
		.ticker__wrapper {
			animation-play-state: paused;
		}
	}
}
