@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.ticker__img {
	flex-shrink: 0;

	display: block;

	width: units.rem(60);
	height: units.rem(34);

	margin-right: units.rem(20);
}
