@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.ticker__item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;

	width: max-content;

	padding: units.rem(20);

	font-family: sans-serif;
	font-size: 70px;
	font-weight: 500;

	white-space: nowrap;

	border-radius: units.rem(general.$bor-rad);
	border: units.rem(1) solid var(--ticker-item-border-color);
}
