@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.ticker__wrapper {
	display: inline-flex;
	gap: units.rem(40);
	
	width: min-content;

	&:after {
		content: '';

		display: block;
		width: units.rem(40);
		height: 100%;
	}
}

.ticker__wrapper--main {
	animation: ticker 24s infinite linear;
	animation-delay: -24s;
}

.ticker__wrapper--duplicate {
	animation: ticker_duplicate 24s infinite linear;
	animation-delay: -12s;
}
