@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.likely__button {
	position: relative;
	margin: 0;
	padding: 1) 4) 1) 0;
	line-height: inherit;

	text-decoration: none;
	outline: 0;
	cursor: pointer;
	user-select: none;
	vertical-align: top;
	text-rendering: optimizelegibility;

	&:empty {
		display: none;
	}
}

.likely-big {
	.likely__button {
		padding: 2) 6) 2) 0;
	}
}

.likely-small {
	.likely__button {
		padding: 2) 3) 2) 0;
	}
}
