@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.likely__button {
	position: relative;
	margin: 0;
	padding: units.rem(1) units.rem(4) units.rem(1) 0;
	line-height: inherit;

	text-decoration: none;
	outline: 0;
	cursor: pointer;
	user-select: none;
	vertical-align: top;
	text-rendering: optimizelegibility;

	&:empty {
		display: none;
	}
}

.likely-big {
	.likely__button {
		padding: units.rem(2) units.rem(6) units.rem(2) 0;
	}
}

.likely-small {
	.likely__button {
		padding: units.rem(2) units.rem(3) units.rem(2) 0;
	}
}
