@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.likely__counter {
	position: relative;
	display: none;
	margin: 0;
	padding: units.rem(1) units.rem(4);
	line-height: inherit;
	text-align: center;
	text-decoration: none;
	background-image: linear-gradient(
		90deg,
		rgb(0 0 0 / 20%) 0,
		transparent 0.5px,
		transparent
	);
	background-size: units.rem(1) units.rem(1);
	background-repeat: repeat-y;
	outline: 0;
	cursor: inherit;
	text-rendering: optimizelegibility;
	vertical-align: top;
}

.likely_ready {
	.likely__counter {
		display: inline-block;
	}

	.likely__counter_empty {
		display: none;
	}
}

.likely-light {
	.likely__counter {
		background-image: linear-gradient(
			90deg,
			hsla(0, 0%, 100%, 0.4) 0,
			hsla(0, 0%, 100%, 0) 0.5px,
			hsla(0, 0%, 100%, 0)
		);
	}
}

.likely-big {
	.likely__counter {
		padding: units.rem(2) units.rem(6);
	}
}

.likely-small {
	.likely__counter {
		padding: units.rem(2) units.rem(3);
	}
}