html
	box-sizing: border-box

html, body
	height: 100%
	scroll-behavior: smooth

body
	min-height: 100vh

*,
*::before,
*::after
	box-sizing: inherit

header,
section,
footer
	position: relative

body,
p,
a,
button,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
figure,
figcaption,
blockqoute,
dl,
dd
	margin: 0

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
	padding: 0

address
	font-style: normal

img
	display: block

	max-width: 100%

	object-fit: cover

a
	text-decoration: none

button, a
	color: inherit

input,
button,
textarea,
select
	font: inherit

input,
textarea
	color: inherit
	
	outline: none

svg
	fill: currentColor