html
	box-sizing: border-box

html, body
	height: 100%

body
	min-height: 100vh

*,
*::before,
*::after
	box-sizing: inherit

header,
section,
footer
	position: relative

body,
p,
a,
button,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
ul[class],
ol[class],
figure,
figcaption,
blockqoute,
dl,
dd
	margin: 0

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
	padding: 0

ul[class],
ol[class]
	padding: 0

ul[class]
	list-style: none

img
	display: block
	max-width: 100%

a
	text-decoration: none

button, a
	padding: 0
	color: inherit
	cursor: pointer

button
	border: none
	background-color: transparent

input,
button,
textarea,
select
	font: inherit

input,
textarea
	outline: none
