// Color variable
\:root
	--c-accent: #ff9c07
	--c-accent-light: #ffb03a

	--c-darken: #000
	--c-lighten: #fff

	--c-dark: #10171b
	--c-light: #f2f2f2

	--c-body-bg: #f2f2f2

	--c-text: #333

	--c-title-dark: #244150
	--c-title-light: #f2f2f2

	--c-section-dark-bg: #343a40

	--c-header-bg: #244150
	--c-header-text: #f2f2f2

	--c-burger-line-color: #f2f2f2
	--c-burger-hover-focus: var(--c-accent)
	--c-burger-active: #d74532

	--c-nav-link: #f2f2f2
	--c-nav-link-hover-focus: #ff9c07
	--c-nav-link-active: #d74532
// End. Color variable

$index: calc(1vh + 1vw)

// Fonts
$fz-text: 16
$fz-text-x2: 16*2
$fz: $fz-text+px
$lh: 1.5

$font-name-title: 'Roboto-font'

$font-name-text: 'PTSerif-font'

$font-name-body: 'PTSerif-font'

$ff-title: $font-name-title

$ff-text: $font-name-text

$ff-body: $font-name-body
// End. Fonts

// Grid gutter
$gutter-number: 20
$gutter: $gutter-number+px
// End. Grid gutter

// Greed system
$screen-min-width: 320px
$screen-max-width: 1920px
$design-width: 1440
$content-width: 1376
$content-width-px: $content-width+px
$container-offset: 12
$container-offset-x2: $container-offset*2
$container-offset-px: $container-offset+px
$container-width: calc($content-width-px + ($container-offset-px * 2))
$container-calc-width: $content-width+($container-offset*2)
$container-calc-width-x2: $container-calc-width*2
// End. Greed system
