// Color variable
\:root
	--c-accent: #7db3c2

	--c-darken: #000
	--c-lighten: #fff

	--c-dark: #333
	--c-light: #f4f4f4

	--c-title-light: #fff
	--c-title-dark: #333

	--c-text-light: #fff
	--c-text-dark: #333


$c-accent: #7db3c2

$c-dark: #000
$c-light: #fff

$c-title-light: #fff
$c-title-dark: #333

$c-text-light: #fff
$c-text-dark: #333
// End. Color variable


$index: calc(1vh + 1vw)


// Fonts
$fz-text: 16
$fz: $fz-text+px
$lh: 1.5

$font-name-all: 'Akrobat-font'

$font-name-title: 'Akrobat-font'

$font-name-text: 'RobotoSlab-font'

$font-name-body: 'RobotoSlab-font'

$ff-all: $font-name-all

$ff-title: $font-name-title

$ff-text: $font-name-text

$ff-body: $font-name-body
// End. Fonts


// Grid gutter
$gutter-number: 30
$gutter: $gutter-number+px
// End. Grid gutter


// Greed system
$screen-min-width: 320px
$screen-max-width: 1920px
$content-width: 1254px
$container-offset: 0.9375rem
$container-width: calc($content-width + ($container-offset * 2))
$design-width: 1600
// End. Greed system
