// Color variable
\:root
	--c-accent: #e8b217

	--c-darken: #000
	--c-lighten: #fff

	--c-dark: #151515
	--c-light: #f2f2f2

	--c-botticelli: #d2ddeb
	--c-valencia: #d74532
	--c-tundora: #414141
	--c-silver: #c6c6c6

	--c-header-one: #f2f2f2
	--c-header-two: #414141

	--c-burger-one: #414141
	--c-burger-two: var(--c-accent)
	--c-burger-three: #d74532

	--c-nav-btn-close-one: #414141
	--c-nav-btn-close-two: var(--c-accent)
	--c-nav-btn-close-three: #d74532
	--c-nav-link-one: #414141
	--c-nav-link-two: var(--c-accent)
	--c-nav-link-three: #d74532

$c-accent: #e8b217

$c-darken: #000
$c-lighten: #fff

$c-dark: #151515
$c-light: #f2f2f2

$c-botticelli: #d2ddeb
$c-valencia: #d74532
$c-tundora: #414141
$c-silver: #c6c6c6

// End. Color variable

$index: calc(1vh + 1vw)

// Fonts
$fz-text: 16
$fz: $fz-text+px
$lh: 1.5

$font-name-title: 'Roboto-font'

$font-name-text: 'PTSerif-font'

$font-name-body: 'PTSerif-font'

$ff-title: $font-name-title

$ff-text: $font-name-text

$ff-body: $font-name-body
// End. Fonts

// Grid gutter
$gutter-number: 30
$gutter: $gutter-number+px
// End. Grid gutter

// Greed system
$screen-min-width: 320px
$screen-max-width: 1920px

$design-width: 1440
$content-width: 1376
$content-width-px: $content-width+px

$container-offset: 12
$container-offset-px: $container-offset+px

$container-width: calc($content-width-px + ($container-offset-px * 2))
$container-calc-width: $content-width+($container-offset*2)
$container-calc-width-x2: $cont-calc-width*2
// End. Greed system
