$breakpoint: 768

$border-width: 1

$border-radius: 4

$outline-width: 2

$outline-offset: 2

$index: calc(1vh + 1vw)

// Breakpoints
// 320		minimal
// 480		phone
// 576		phone-plus
// 640		phone-wga
// 768		tablet
// 992		tablet-plus
// 1024		tablet-full
// 1200		desktop
// 1280		desktop-wide
// 1366		desktop-hd
// 1440		desktop-wide-plus
// 1536		desktop-no-name
// 1600		desktop-hd-plus
// 1920		fullHd
// 2560		quadHd
// 3840		ultraHd
// End. Breakpoints
