.font-face
	font-family: "icons-font" !important
	speak: never
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

[class^="icon-"], [class*=" icon-"]
	&::before
		@extend .font-face
		display: block

.icon-financial-literacy:before
	content: "\e914"

.icon-finance-books:before
	content: "\e901"

.icon-finance-films:before
	content: "\e912"

.icon-financial-instruments:before
	content: "\e913"

.icon-success-stories:before
	content: "\e915"

.icon-technical-analysis:before
	content: "\e916"

.icon-author-font:before
	content: "\e911"

.icon-arrow-read-more:before
	content: "\e90e"

.icon-inst:before
	content: "\e910"

.icon-email:before
	content: "\e90f"

.icon-clock:before
	content: "\e90d"

.icon-close:before
	content: "\e90c"

.icon-arrow-spoiler:before
	content: "\e900"

.icon-doc:before
	content: "\e902"

.icon-facebook:before
	content: "\e903"

.icon-intro-arrow-down:before
	content: "\e904"

.icon-menu:before
	content: "\e905"

.icon-rss:before
	content: "\e906"

.icon-search:before
	content: "\e907"

.icon-telegram:before
	content: "\e908"

.icon-twitter:before
	content: "\e909"

.icon-vk:before
	content: "\e90a"

.icon-youtube:before
	content: "\e90b"
