@use "../variables/general";
@use "../variables/grid";
@use "../mixins/units";

.body {
	position: relative;

	min-width: units.rem(grid.$min-screen);

	margin: 0;

	font-family: general.$font-text;
	font-style: normal;
	font-size: var(--fz-px);
	font-weight: 400;
	line-height: 1.5;

	background-color: general.$body-bg;
	overflow-x: hidden;
}