@use '../variables/grid';
@use '../mixins/units';

.container {
	width: 100%;
	max-width: units.rem(grid.$container-width);

	margin: 0 auto;
	padding: 0 units.rem(grid.$container-offset);
}

.container-fluid {
	width: 100%;
	max-width: 100%;

	margin: 0 auto;
	padding: 0;
}

.container-right {
	width: 100%;
	max-width: 100%;
	padding-left: calc((100% - #{units.rem(grid.$container-width)}) / 2);

	@media (max-width: #{units.em(grid.$container-width)}) {
		padding-left: units.rem(grid.$container-offset);
	}
}

.container-left {
	width: 100%;
	max-width: 100%;
	padding-right: calc((100% - #{units.rem(grid.$container-width)}) / 2);

	@media (max-width: #{units.em(grid.$container-width)}) {
		padding-right: units.rem(grid.$container-offset);
	}
}