@use "../variables/general";
@use "../variables/grid";
@use "../mixins/units";
@use "../mixins/adaptive-value";

* {
	scrollbar-color: var(--accent) #424242;
}

.page {
	// flex
	display: flex;
	flex-direction: column;
	min-height: 100%;

	// display: grid
	// grid-template-rows: auto 1fr auto
	// min-height: 100%
}

.main {
	// if flex
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

::selection {
	color: var(--dark);
	background-color: var(--accent);
}

.section {
	position: relative;

	@include adaptive-value.adaptive-value-rem(padding-top, 40, 80);
	@include adaptive-value.adaptive-value-rem(padding-bottom, 40, 80);

	min-width: 0;
}

.section__header {
	row-gap: units.rem(20);
	@include adaptive-value.adaptive-value-rem(margin-bottom, 30, 40);
}

.section__header:has(.section__descr) {
	row-gap: units.rem(16);
}

.full-width {
	width: 100%;
}

.text-bold,
.txt-bold {
	font-weight: 700;
}

.text-accent,
.txt-accent,
.accent {
	color: var(--accent);
}

.underline {
	text-decoration: underline;
	text-underline-position: under;
}

.uppercase {
	text-transform: uppercase;
}

.section__bg,
.sec_bg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-wrap,
.image-wrapper,
.img-wrap,
.img-wrapper {
	position: relative;
	width: 100%;
	max-width: 100%;
	padding-bottom: 56.25%;

	.image,
	.img,
	.photo,
	.avatar,
	.picture,
	.pic,
	.user-photo,
	img {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.image-bg,
.img-bg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.display-none,
.none,
.hidden {
	display: none !important;
}

.video-wrap {
	position: relative;
	width: 100%;
	max-width: 100%;
	height: auto;
	padding-bottom: 56.25%;

	.video,
	iframe,
	video {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border: none;
	}
}

.txt-wrap,
.text-wrap {
	> * {
		margin: 0;

		&:not(:last-child) {
			margin-bottom: units.rem(16);
		}
	}
}

.stop-scroll {
	position: fixed;
	top: var(--top-position);
	left: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	padding-right: var(--scroll-width);
}

.not-leap,
.fixed-el {
	padding-right: var(--scroll-width);
}

.visually-hidden {
	position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip-path: inset(100%) !important;
}

.sprite-svg {
	transition: fill 0.3s ease;

	fill: currentColor;
}
