@use "../mixins/units";
@use "../variables/general";

.state-accent {
	transition: color 0.3s ease;

	@media (any-hover: hover) {
		&:hover {
			color: var(--accent);
		}
	}

	&:focus-visible {
		outline-color: currentColor;
		outline-style: dashed;
		outline-width: units.rem(general.$outline-width);
		outline-offset: units.rem(general.$outline-offset);
	}

	&:active {
		color: var(--accent-dark);
	}
}

.state-opacity {
	transition: opacity 0.3s ease;

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.6;
		}
	}

	&:focus-visible {
		outline-color: currentColor;
		outline-style: dashed;
		outline-width: units.rem(general.$outline-width);
		outline-offset: units.rem(general.$outline-offset);
	}

	&:active {
		opacity: 1;
	}
}
