@use "../mixins/units";

.h1,
.h2,
.h3,
.h4 {
	font-family: var(--font-title);
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-transform: uppercase;

	color: inherit;
}

.h1 {
	font-size: 68px;
}

.h2 {
	font-size: 42px;
}
