.select-css {

	appearance: none;
	display: inline-flex;
	width: 100%;

	max-width: 100%;

	padding: 4px 26px 4px 4px;

	color: var(--c-darken);

	background-color: transparent;

	border: none;

	cursor: pointer;

	@include calc-size(font-size, 18, 26, 320, 1920, px);

	@include min-full-hd-px {
		@include calc-size(padding-top, 4, 8, 1920, 3840, px);
		@include calc-size(padding-bottom, 4, 8, 1920, 3840, px);
		@include calc-size(padding-right, 26, 52, 1920, 3840, px);
		@include calc-size(padding-left, 4, 8, 1920, 3840, px);

		@include calc-size(font-size, 26, 52, 1920, 3840, px);
	}
}

.select-css::-ms-expand {
	display: none;
}

.select-css:hover {
	border-color: var(--c-accent);
}

.select-css:focus {
	border-color: var(--c-accent);
	outline: none;
}

.select-css option {
	font-weight: normal;
}

*[dir='rtl'] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
	padding: 0.6em 0.8em 0.5em 1.4em;
	background-position:
		left 0.7em top 50%,
		0 0;
}
