.select-wrap {
	position: relative;

	display: inline;

	&:after {
		content: '›';

		position: absolute;
		top: 50%;
		right: 3%;

		display: block;

		pointer-events: none;

		transform: translateY(-50%), rotate(45deg);

		transition: rotate 0.3s ease;

		@include min-full-hd-px {
			@include calc-size(width, 15, 30, 1920, 3840, px);
			@include calc-size(height, 9, 18, 1920, 3840, px);
		}
	}
}

.select-wrap.is-active {
	&:after {
		transform: rotate(180deg);
	}
}
