/* LIGHT SCHEME STYLE
\:root
	--color-scheme: light

	--c-accent: #d93737

	--c-dark: #202020
	--c-light: #ececec

	--c-darken: #000
	--c-lighten: #fff

	--border-radius: 4px

	--c-holly: #02190d
	--c-pine-tree: #1a3604
	--c-san-felix: #204405
	--c-green-house: #2a520b
	--c-limeade: #3a8400
	--c-salem: #07834f
	--c-deco: #b6d383

	--c-golden-grass: #dba61c

	--c-title-light: #fff
	--c-title-dark: #333

	--c-text-light: #fff
	--c-text-dark: #333

	--body-bg: #fcfbfb

	--c-link-hover: #d93737

	--c-light-border: rgba(51, 51, 51, 0.4)

	--c-mine-shaft: #323232

	--color-text: #202020

	--header-color: var(--c-light)
	--header-bg: var(--c-san-felix)

	--social-btn-bg: var(--c-light)
	--social-btn-color: var(--c-pine-tree)

	--nav-bg: var(--c-pine-tree)
	--nav-color: var(--c-light)
	--nav-btn-close-color: var(--c-light)
	--nav-btn-close-color-hover: #b6d383
	--nav-link-color-hover: #b6d383
	--nav-spoiler-border: #b6d383

	--search-bg: var(--c-pine-tree)
	--search-border: #b6d383
	--search-curet-color: #b6d383
	--search-color: #b6d383
	--search-input-bg: var(--c-green-house)
	--search-field-google-button-bg: #b6d383
	--search-field-google-button-bg-hover: #102402
	--search-field-google-button-color: #102402
	--search-field-google-button-color-hover: #dba61c

	--burger-search-hover: var(--c-accent)
	--burger-search-text: var(--c-light)

	--section-title-color: var(--c-dark)
	--section-description-color: var(--c-dark)
	--section-text-color: var(--c-dark)
	--section-button-bg: var(--c-accent)
	--section-button-fill-color: var(--c-light)
	--section-button-stroke-color: var(--c-dark)
	--section-button-stroke-color-hover: var(--c-light)
	--section-button-border: var(--c-accent)
	--section-button-bg-hover: #eb1e08
	--section-button-box-shadow: #eb1e08

	--link-color-hover: var(--c-accent)
	--link-color-visited: #8e5fe7
	--link-color: #07834f

	--image-color: #07834f

	--article-bg: var(--c-pine-tree)
	--article-info-color: var(--c-light)
	--article-info-color-blog: var(--c-dark)
	--article-title-link-hover: #b6d383
	--article-image-link-after-border-color: #b6d383
	--article-image-link-box-shadow: 12, 26, 1
	--article-category-link-color: var(--c-mine-shaft)

	--subscribe-form-border-color: var(--c-pine-tree)

	--sidebar-content-bg: #e2e2e2
	--sidebar-inner-bg: #fff

	--soderzhanie-item-link-bg: var(--c-dark)
	--soderzhanie-item-link-hover-bg: var(--c-accent)
	--soderzhanie-item-link-hover-before-color: var(--c-accent)

	--form-input-border: #b6d383
	--form-input-bg: var(--c-green-house)
	--form-input-color: #b6d383
	--form-curet-color: v
	--form-required-color: var(--c-accent)

	--blockquote-border: var(--c-salem)

	--spoiler-title-single-post: var(--c-salem)

	--pagination-number: var(--c-mine-shaft)
	--pagination-left-right: var(--c-mine-shaft)

	--orphus-content-bg: #e2e2e2
	--orphus-box-shadow: rgba(32, 32, 32, .75)
	--orphus-border-color: rgba(32, 32, 32, .75)

	--post-important-text-color: #202020
	--post-important-text-bg: #fce9ba
	--post-important-text-border: #d93737
/* END. LIGHT SCHEME STYLE

.scheme-switcher__radio
	filter: invert(0)

.scheme-switcher__radio:checked
	filter: invert(1)

.scheme-switcher__status
	filter: invert(0)

.page-blog .section-header::after
	opacity: 0.3
