.likely__widget {
  position: relative;
  width: rem(22);
  height: rem(22);
  font-size: rem(14);
  line-height: rem(20);
  border-radius: rem(3);
  white-space: nowrap;
  vertical-align: top;
  color: #000;
  background: hsla(0, 0%, 91%, 0.8);
  transition: background 0.33s ease-out, color 0.33s ease-out, fill 0.33s ease-out;

  @media (min-width: em(1920.96)) {
    @include calc-size(width, 22, 44, 1920, 3840, rem);
    @include calc-size(height, 22, 44, 1920, 3840, rem);

    @include calc-size(font-size, 14, 28, 1920, 3840, rem);
    @include calc-size(line-height, 20, 40, 1920, 3840, rem);

    @include calc-size(border-radius, 3, 6, 1920, 3840, rem);
  }

  &:active,
  &:focus,
  &:hover {
    transition: none;
    cursor: pointer;

    @media (hover: none) {
      transition: background 0.33s ease-out, color 0.33s ease-out, fill 0.33s ease-out;
      cursor: unset;
    }
  }
}

.likely-light {
  .likely__widget {
    color: #fff;
    fill: #fff;
    background: hsla(0, 0%, 93%, 0.16);
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
  }
}

.likely__widget_facebook {
  fill: #1877f2;

  &:active,
  &:focus,
  &:hover {
    background: rgba(197, 221, 251, 0.8);

    @media (hover: none) {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_facebook:active,
.likely-light .likely__widget_facebook:focus,
.likely-light .likely__widget_facebook:hover {
  text-shadow: #1877f2 0 0 0.25em;
  background: rgba(24, 119, 242, 0.7);

  @media (hover: none) {
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
    background: hsla(0, 0%, 93%, 0.16);
  }
}

.likely__widget_linkedin {
  fill: #0a66c2;

  &:active,
  &:focus,
  &:hover {
    background: rgba(193, 216, 239, 0.8);

    @media (hover: none) {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_linkedin:active,
.likely-light .likely__widget_linkedin:focus,
.likely-light .likely__widget_linkedin:hover {
  text-shadow: #0a66c2 0 0 0.25em;
  background: rgba(10, 102, 194, 0.7);

  @media (hover: none) {
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
    background: hsla(0, 0%, 93%, 0.16);
  }
}

.likely__widget_odnoklassniki {
  fill: #ee8208;

  &:active,
  &:focus,
  &:hover {
    background: hsla(32, 85%, 87%, 0.8);

    @media (hover: none) {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_odnoklassniki:active,
.likely-light .likely__widget_odnoklassniki:focus,
.likely-light .likely__widget_odnoklassniki:hover {
  text-shadow: #ee8208 0 0 0.25em;
  background: rgba(238, 130, 8, 0.7);

  @media (hover: none) {
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
    background: hsla(0, 0%, 93%, 0.16);
  }
}

.likely__widget_pinterest {
  fill: #e60019;

  &:active,
  &:focus,
  &:hover {
    background: rgba(248, 191, 197, 0.8);
  }

  @media (hover: none) {
    background: hsla(0, 0%, 91%, 0.8);
  }
}

.likely-light .likely__widget_pinterest:active,
.likely-light .likely__widget_pinterest:focus,
.likely-light .likely__widget_pinterest:hover {
  text-shadow: #e60019 0 0 0.25em;
  background: rgba(230, 0, 25, 0.7);

  @media (hover: none) {
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
    background: hsla(0, 0%, 93%, 0.16);
  }
}

.likely__widget_reddit {
  fill: #ff4501;

  &:active,
  &:focus,
  &:hover {
    background: rgba(255, 208, 191, 0.8);

    @media (hover: none) {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_reddit:active,
.likely-light .likely__widget_reddit:focus,
.likely-light .likely__widget_reddit:hover {
  text-shadow: #ff4501 0 0 0.25em;
  background: rgba(255, 69, 1, 0.7);

  @media (hover: none) {
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
    background: hsla(0, 0%, 93%, 0.16);
  }
}

.likely__widget_telegram {
  fill: #35a3dc;

  &:active,
  &:focus,
  &:hover {
    background: rgba(204, 232, 246, 0.8);

    @media (hover: none) {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_telegram:active,
.likely-light .likely__widget_telegram:focus,
.likely-light .likely__widget_telegram:hover {
  text-shadow: #35a3dc 0 0 0.25em;
  background: rgba(53, 163, 220, 0.7);
}

@media (hover: none) {
  .likely-light .likely__widget_telegram:active,
  .likely-light .likely__widget_telegram:focus,
  .likely-light .likely__widget_telegram:hover {
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
    background: hsla(0, 0%, 93%, 0.16);
  }
}

.likely__widget_twitter {
  fill: #1da1f2;

  &:active,
  &:focus,
  &:hover {
    background: rgba(198, 231, 251, 0.8);

    @media (hover: none) {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_twitter:active,
.likely-light .likely__widget_twitter:focus,
.likely-light .likely__widget_twitter:hover {
  text-shadow: #1da1f2 0 0 0.25em;
  background: rgba(29, 161, 242, 0.7);

  @media (hover: none) {
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
    background: hsla(0, 0%, 93%, 0.16);
  }
}

.likely__widget_viber {
  fill: #7360f2;

  &:active,
  &:focus,
  &:hover {
    background: rgba(220, 215, 251, 0.8);

    @media (hover: none) {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_viber:active,
.likely-light .likely__widget_viber:focus,
.likely-light .likely__widget_viber:hover {
  text-shadow: #7360f2 0 0 0.25em;
  background: rgba(115, 96, 242, 0.7);

  @media (hover: none) {
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
    background: hsla(0, 0%, 93%, 0.16);
  }
}

.likely__widget_vkontakte {
  fill: #4680c2;

  &:active,
  &:focus,
  &:hover {
    background: rgba(208, 223, 239, 0.8);

    @media (hover: none) {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_vkontakte:active,
.likely-light .likely__widget_vkontakte:focus,
.likely-light .likely__widget_vkontakte:hover {
  text-shadow: #4680c2 0 0 0.25em;
  background: rgba(70, 128, 194, 0.7);

  @media (hover: none) {
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
    background: hsla(0, 0%, 93%, 0.16);
  }
}

.likely__widget_whatsapp {
  fill: #25d366;

  &:active,
  &:focus,
  &:hover {
    background: rgba(200, 244, 216, 0.8);

    @media (hover: none) {
      background: hsla(0, 0%, 91%, 0.8);
    }
  }
}

.likely-light .likely__widget_whatsapp:active,
.likely-light .likely__widget_whatsapp:focus,
.likely-light .likely__widget_whatsapp:hover {
  text-shadow: #25d366 0 0 0.25em;
  background: rgba(37, 211, 102, 0.7);

  @media (hover: none) {
    text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.33em;
    background: hsla(0, 0%, 93%, 0.16);
  }
}

.likely-big {
  .likely__widget {
    width: rem(32);
    height: rem(32);
    font-size: rem(18);
    line-height: rem(28);
    border-radius: rem(4);

    @media (min-width: em(1920.96)) {
      @include calc-size(width, 32, 64, 1920, 3840, rem);
      @include calc-size(height, 32, 64, 1920, 3840, rem);

      @include calc-size(font-size, 18, 36, 1920, 3840, rem);
      @include calc-size(line-height, 28, 56, 1920, 3840, rem);

      @include calc-size(border-radius, 4, 8, 1920, 3840, rem);
    }
  }
}

.likely-small {
  .likely__widget {
    width: rem(18);
    height: rem(18);
    font-size: rem(12);
    line-height: rem(14);
    border-radius: rem(2);

    @media (min-width: em(1920.96)) {
      @include calc-size(width, 18, 36, 1920, 3840, rem);
      @include calc-size(height, 18, 36, 1920, 3840, rem);

      @include calc-size(font-size, 12, 24, 1920, 3840, rem);
      @include calc-size(line-height, 14, 28, 1920, 3840, rem);

      @include calc-size(border-radius, 2, 4, 1920, 3840, rem);
    }
  }
}