.button-to-top
	display: flex
	align-items: center
	justify-content: center

	padding-bottom: 5px

	font-size: rem(22)
	+calc-size(font-size, 10, 22, 320, 1920, rem)
	+calc-size(font-size, 22, 44, 1920.96, 3840, rem)

	position: fixed
	right: -120px
	bottom: 100px

	min-width: rem(40)
	min-height: rem(40)
	+calc-size(min-width, 40, 80, 1920.96, 3840, px)
	+calc-size(min-height, 40, 80, 1920.96, 3840, px)

	background-color: #9ea1a3
	border: none
	border-radius: 50%
	cursor: pointer
	text-align: center

	color: #000
	opacity: .6
	z-index: 15

	transition: all .3s ease

	@media ( min-width: em(3840.96) )
		min-width: 80px
		min-height: 80px

		font-size: rem(44)

	&:hover
		opacity: 1
		background-color: $c-accent
		color: #fff

	&:active
		background-color: darken($c-accent, 10%)

	&.button-to-top__active
		right: rem(20)
