// Greed system
$gutter-num: 30;
$gutter-px: $gutter-num + px;
$gutter-rem: rem($gutter-num);

$screen-min-width: 320;

$content-width: 1196;

$container-offset: 16;
$container-offset-min: 10;

$container-width: $content-width + $container-offset * 2;

$switch-point: 768;

// Breakpoints width
$minimal: 320;

$mobile: 480;
$min-mobile: 480.96;

$mobile-plus: 576;
$min-mobile-plus: 576.96;

$mobile-wga: 640;
$min-mobile-wga: 640.96;

$tablet: 768;
$min-tablet: 768.96;

$tablet-plus: 992;
$min-tablet-plus: 992.96;

$tablet-full: 1024;
$min-tablet-full: 1024.96;

$desktop: 1200;
$min-desktop: 1200.96;

$desktop-wide: 1280;
$min-desktop-wide: 1280.96;

$desktop-hd: 1366;
$min-desktop-hd: 1366.96;

$desktop-wide-plus: 1440;
$min-desktop-wide-plus: 1440.96;

$desktop-no-name: 1536;
$min-desktop-no-name: 1536.96;

$desktop-hd-plus: 1600;
$min-desktop-hd-plus: 1600.96;

$full-hd: 1920;
$min-full-hd: 1920.96;

$quad-hd: 2560;
$min-quad-hd: 2560.96;

$ultra-hd: 3840;
$min-ultra-hd: 3840.96;
// End. Greed system
