// Greed system
$gutter-num: 20;

$gutter-px: 20px;

$screen-min-width: 320;

$content-width: 1300;

$container-offset: 10;

$container-width: $content-width + $container-offset*2;
// End. Greed system