:root {
	--c-body-bg: #fff;
	
	--c-accent: #2664ff;
	--c-accent-light: #ffb03a;
	--c-accent-dark: #003898;

	--c-border-color: #b5b5b5;

	--c-light: #fff;

	--c-text-dark: #28306d;
	--c-text-light: #fff;

	--tangled-web: #b3b3b3;
	--ahriman-blue: #17a2b8;
	--vitalize: #28a745;
	--island-green: #27ae61;
	--marigold: #ffc107;
	--cruel-ruby: #dc3545;
	--california-lilac: #b9c5e2;
	--shadow-mountain: #58595a;
	--grey-shingle: #949494;
	--baby-talk-grey: #bababa;

	--blue: #0072f0;
	--iris-blue: #00b6cb;
	--love-vessel: #f10096;
	--fire-dragon-bright: #f66d00;
	--strong-blue: #0f0bff;
	--bird-s-eye: #b90505;
	--almost-royal: #7735fa;
	--red-beech: #7b3600;
}