:root {
	--c-body-bg: #fff;
	
	--c-accent: #2664ff;
	--c-accent-light: #ffb03a;
	--c-accent-dark: #003898;

	--c-border-color: #b5b5b5;

	--c-light: #fff;

	--c-text-dark: #28306d;
	--c-text-light: #fff;

	--c-burger-line: #fff;
}