.page__image-wrap, .page__map
	position: relative

	padding-bottom: 62.5%

	background-image: url('@img/loading.gif')
	background-position: center / 50px
	background-repeat: no-repeat

.page__image-wrap
	.page__image
		position: absolute
		inset: 0

		object-fit: cover