@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.tabs__btn {
	padding: units.rem(10) units.rem(28);

	border: none;

	border-radius: units.rem(5000);

	background-color: var(--light);

	@include adaptive-value.adaptive-value-rem(font-size, 18, 25);
	line-height: 120%;
	color: var(--text-dark);

	cursor: pointer;

	transition:
		color 0.3s ease,
		background-color 0.3s ease;
	will-change: color, background-color;

	@media (any-hover: hover) {
		&:hover {
			color: var(--text-light);
			background-color: var(--accent);
		}
	}

	&:focus-visible {
		outline-width: units.rem(general.$outline-width);
		outline-style: dashed;
		outline-color: currentColor;
		outline-offset: units.rem(general.$outline-offset);
	}

	&:active {
		background-color: var(--accent-light);
	}
}

.tabs__btn--active {
	color: var(--text-light);
	background-color: var(--accent);

	pointer-events: none;
}
