@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.tabs__controls {
	column-gap: units.rem(40);
	row-gap: units.rem(16);

	@media ( max-width: units.rem(576) ) {
		flex-direction: column;
		align-items: center;
	}
}