<head itemscope itemtype="http://schema.org/WPHeader">
	<meta charset="utf-8">

	<base href="/">

	<title>@@title</title>

	<meta name="description" content="@@description">

	<meta name="author" content="Евгений К. — www.evkarn.ru">

	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="keywords" content="@@keywords">


	<!-- Template Basic Images Start -->
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">

	<link rel="icon" type="image/x-icon" href="favicon.ico">

	<link rel="icon" type="image/svg+xml" sizes="120x120" href="favicon.svg">

	<link rel="icon" type="image/png" sizes="32x32" href="assets/files/favicon/favicon-32x32.png">

	<link rel="icon" type="image/png" sizes="16x16" href="assets/files/favicon/favicon-16x16.png">

	<link rel="manifest" href="assets/files/favicon/site.webmanifest">

	<link rel="mask-icon" href="assets/files/favicon/safari-pinned-tab.svg" color="#e8b217">

	<meta name="msapplication-TileColor" content="#2b5797">

	<meta name="theme-color" content="#e8b217">
	<!-- /Template Basic Images End -->


	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>

	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


	<!--Open Graph-->
	<meta property="og:site_name" content="@@title">

	<meta property="og:url" content="@@url">

	<meta property="og:type" content="website">

	<meta property="og:title" content="@@title">

	<meta property="og:description" content="@@description">

	<meta property="og:image" content="@@ogimage">

	<meta property="og:locale" content="@@locale">

	<meta name="twitter:card" content="summary_large_image">

	<meta name="twitter:title" content="@@title">

	<meta name="twitter:description" content="@@description">

	<meta name="twitter:site" content="@@url">

	<meta name="twitter:image" content="@@ogimage">
	<!--/Open Graph-->


	<!-- Schema-org -->
	<meta itemprop="name" content="@@title">

	<meta itemprop="description" content="@@description">

	<meta itemprop="image" content="@img/ogimage/@@ogimage">
	<!-- /Schema-org -->


	<!-- Fonts preload -->
	<!-- <link rel="preload" href="assets/fonts/icons-font.woff2" as="font" type="font/woff2" crossorigin> -->

	<link rel="preload" href="assets/fonts/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<!-- /Fonts preload -->


	<!-- Color schemes -->
	<!-- <meta name="color-scheme" content="light dark">

	<script>
		if (matchMedia('(prefers-color-scheme: dark)').media === 'not all') {
			document.documentElement.style.display = 'none';

			document.head.insertAdjacentHTML(
				'beforeend',
				'<link rel="stylesheet" href="assets/css/scheme-light.min.css" onload="document.documentElement.style.display=\'\'">'
			)
		}
	</script> -->
	<!-- End. Color schemes -->

	<link rel="stylesheet" href="assets/css/@@css.min.css">

	<!-- <link rel="stylesheet" href="assets/css/scheme-light.min.css" media="(prefers-color-scheme: light)">
		
	<link rel="stylesheet" href="assets/css/scheme-dark.min.css" media="(prefers-color-scheme: dark)"> -->
</head>
