.breadcrumbs
	padding-top: rem(24)
	padding-bottom: rem(24)

	color: gray

	@media ( min-width: em(1920.96) )
		+calc-size(padding-top, 24, 48, 1920, 3840, rem)
		+calc-size(padding-bottom, 24, 48, 1920, 3840, rem)