:root {
	--fz-text: 16;

	--ff-title: 'Manrope', sans-serif;

	--ff-text: 'Manrope', sans-serif;

	--ff-body: 'Manrope', sans-serif;

	--body-bg: #fff;

	--accent: #2664ff;
	--accent-light: #ffb03a;
	--accent-dark: #003898;

	--border-color: #b5b5b5;

	--light: #fff;

	--text-dark: #28306d;
	--text-light: #fff;

	--burger-line: #fff;

	--index: calc(1vh + 1vw);

	--gap: 30px;
}
