@use '../variables/grid';
@use '../mixins/units';

$border-width: 1;

$border-radius: 10;

$fz: 16;
$fz-px: 16px;

$outline-width: 1;
$outline-offset: 2;

$burger-width: units.rem(38);
$burger-height: units.rem(26);
$burger-line-height: units.rem(2);
$burger-line-color: oklch(0.25 0 0);