@use '../variables/grid';
@use '../mixins/units';

// Fonts
$fz: 16;
$fz-px: 16px;

$font-title: "Oswald", sans-serif;
$font-text: "Oswald", sans-serif;

$index: calc(1vh + 1vw);


// Colors
$body-bg: #fff;

$accent: #01cd9c;
$accent-light: #00607f;
$accent-dark: #00607f;

$light: #fff;
$dark: #000;

$title-light: #fff;
$title-dark: #0c0050;

$text-light: #fff;
$text-dark: #1d1d1d;

$footer-bg: #000f59;


// General variables
$bor-width: 1;
$bor-rad: 10;

$outline-width: 1;
$outline-offset: 2;

$burger-width: units.rem(38);
$burger-height: units.rem(26);
$burger-line-height: units.rem(2);
$burger-line-color: #222;