@use '../variables/grid';
@use '../mixins/units';

// Fonts
$fz: 16;

$font-title: "Oswald", sans-serif;
$font-text: "Oswald", sans-serif;

$index: calc(1vh + 1vw);

// General variables
$border-width: 1;
$border-radius: 10;

$outline-width: 1;
$outline-offset: 2;

$burger-width: units.rem(38);
$burger-height: units.rem(26);
$burger-line-height: units.rem(2);
$burger-line-color: #222222;