:root {
	--fz: 16px;

	--gap: 30px;

	--font-title: "Oswald", sans-serif;
	--font-text: "Oswald", sans-serif;

	--index: calc(1vh + 1vw);

	--border-width: 1px;
	--border-radius: 10px;

	--outline-width: 2px;
	--outline-offset: 4px;

	--body-bg: #ffffff;

	--text-light: #ffffff;
	--text-dark: #1d1d1d;

	--footer-bg: #000f59;

	--accent: #01cd9c;
	--accent-light: #00607f;
	--accent-dark: #00607f;

	--light: #ffffff;
	--dark: #000000;
}