:root {
	--fz: 16;
	--fz-px: 16px;

	--font-title: "Oswald", sans-serif;
	--font-text: "Oswald", sans-serif;

	--index: calc(1vh + 1vw);

	--body-bg: #fff;

	--title-light: #fff;
	--title-dark: #0c0050;

	--text-light: #fff;
	--text-dark: #1d1d1d;

	--footer-bg: #000f59;

	--accent: #01cd9c;
	--accent-light: #00607f;
	--accent-dark: #00607f;

	--light: #fff;
	--dark: #000;
}
