:root {
	--fz: 16;
	--fz-px: 16px;

	--ff-title: "Manrope", sans-serif;
	--ff-text: "Manrope", sans-serif;
	--ff-body: "Manrope", sans-serif;

	--gap-num: 30;
	--gap-px: 30px;

	--border-width: 1;
	--border-radius: 10;

	--outline-width: 1;
	--outline-offset: 2;

	--burger-width: 30;
	--burger-height: 20;
	--burger-line-height: 1;



	--body-bg: #fff;

	--accent: #2664ff;
	--accent-light: #ffb03a;
	--accent-dark: #003898;

	--border-color: #b5b5b5;

	--light: #fff;

	--text-dark: #28306d;
	--text-light: #fff;

	--burger-line: #fff;

	--index: calc(1vh + 1vw);
}
