@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.tabs__descr {
	max-width: units.rem(900);

	@include adaptive-value.adaptive-value-rem(font-size, 16, 20);
	line-height: 1.4;

	color: var(--text-light);
}