@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.progress-line {
	position: fixed;
	z-index: 6;
	top: 0;
	left: 0;

	width: 100%;
	height: units.rem(4);

	background: transparent;
	background-color: transparent;
}
