// Прогресс прокрутки страницы в виде линии
.progress-line
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 5px
	z-index: 1000
	background: transparent
	background-color: transparent

.progress-line__item
	position: absolute
	left: 0
	top: 0
	width: 0
	height: 100%
	background-color: $accent
// Конец. Прогресс прокрутки страницы в виде линии
