.tabs__btn {
	font-size: rem(20);
	font-weight: 500;
	line-height: 1.2;

	color: var(--c-light);

	border: none;

	cursor: pointer;

	transition: color 0.3s ease;

	@include min-full-hd-em {
		@include calc-size(font-size, 20, 40, 1920, 3840, rem);
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--c-accent);
		}
	}

	&:focus-visible {
		color: var(--c-accent);
	}

	&:active {
		color: var(--c-accent-dark);
	}
}

.tabs__btn--active {
	color: var(--c-dark);

	transition:
		background-color 0.3s ease,
		color 0.3s ease;

	pointer-events: none;
}
