@use "../units";
@use "../../variables/general";

@mixin state-accent {
	@media (any-hover: hover) {
		&:hover {
			color: var(--accent-dark);
			cursor: pointer;
		}
	}

	&:focus-visible {
		outline-color: var(--accent);
		outline-style: dashed;
		outline-width: $outline-width);
		outline-offset: $outline-offset);
	}

	&:active {
		color: var(--accent);
		outline: none;
	}

	@content;
}
