@use '../units';
@use '../../variables/general';

@mixin state-link-opacity {
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.7;

			cursor: pointer;
		}
	}

	&:focus-visible {
		outline-width: units.rem(general.$outline-width);
		outline-style: dashed;
		outline-color: currentColor;
		outline-offset: units.rem(general.$outline-offset);
	}

	&:active {
		outline: none;

		opacity: 1;
	}

	@content;
}
