@mixin state-accent {
	@media (any-hover: hover) {
		&:hover {
			color: var(--c-accent-dark);
			cursor: pointer;
		}
	}

	&:focus-visible {
		outline-width: rem($outline-width);
		outline-style: dashed;
		outline-color: var(--c-accent);
		outline-offset: rem($outline-offset);
	}

	&:active {
		color: var(--c-accent);
		outline: none;
	}

	@content;
}
