@use '../units';
@use '../../variables/general';

@mixin state-link {
	@media (any-hover: hover) {
		&:hover {
			color: var(--accent);

			cursor: pointer;
		}
	}

	&:focus-visible {
		outline-width: units.rem(general.$outline-width);
		outline-style: dashed;
		outline-color: currentColor;
		outline-offset: units.rem(general.$outline-offset);
	}

	&:active {
		color: var(--accent-dark);

		outline: none;
	}

	@content;
}
