$c-radio: #a5a7ab
$c-radio-hover: #1c1b1f
$c-radio-active:#3366ff
$tr-duration: .3s

.input-radio
	position: absolute
	width: 1px
	height: 1px
	top: -1000px
	left: -1000px
	font-size: 0

.input-radio:checked ~
	.radio-fake
		border-color: $c-radio-active
		&:after
			transform: scale(1)

.radio-fake 
	display: flex
	align-items: center
	justify-content: center
	width: 20px
	height: 20px
	border: 2px solid $c-radio
	border-radius: 50%
	cursor: pointer
	transition: border-color $tr-duration ease
	&:hover, &:focus
		border-color: $c-radio-hover
	&:after
		content: ""
		display: block
		width: 10px
		height: 10px
		border-radius: 50%
		background-color: $c-radio-active
		transform: scale(0)
		transition: transform $tr-duration ease