html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

img {
	display: block;

	max-width: 100%;
	height: auto;

	object-fit: cover;
}

a {
	text-decoration: none;
}

button,
a {
	font-size: inherit;

	color: inherit;
}
