@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.badge {
	position: absolute;
	top: units.rem(15);
	right: units.rem(15);

	display: flex;
	justify-content: center;
	align-items: center;

	padding: units.rem(6) units.rem(10);

	font-size: units.rem(14);
	line-height: 120%;
	text-align: center;

	background-color: var(--badge-bg);
	border-radius: units.rem(general.$bor-rad);

	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}
