// Adaptive spoilers
// @import './_components/adaptiveSpoilers'
// End. Adaptive spoilers
$spoiler-title-fz: 18px
$spoiler-title-bg: transparent
$spoiler-title-color: #fff

.spoilers-wrapper
	min-height: 100%
	padding: 50px
	@media screen and ( max-width: 700px )
		padding: 15px

.spoilers__list
	margin: 16px 16px 16px 16px

.spoilers__item
	margin: 0 0 16px 0

.spoiler__title
	display: flex
	align-items: center
	position: relative
	cursor: pointer
	padding: 10px 40px 10px 10px
	width: 100%
	height: 100%
	text-align: left
	font-size: $spoiler-title-fz
	background-color: $spoiler-title-bg
	color: $spoiler-title-color
	border: none

.spoiler__content
	padding: 10px
	line-height: 1.5
	color: #fff
	box-sizing: border-box

.spoilers__item
	&.init
		.spoiler__title
			&::after
				content: '+'
				font-size: 24px
				color: #fff
				position: absolute
				right: 10px
				transition: transform .3s ease
			&.active
				&::after
					transform: rotate(45deg)

.spoilers__list--1
	.spoilers__item
		background-color: #77608d

.spoilers__list--2
	.spoilers__item
		background-color: #794f45

.spoilers__list--3
	.spoilers__item
		background-color: #7a956b