.checkbox-label
	display: inline-flex
	align-items: center
	gap: rem(10)

	position: relative

	cursor: pointer
	overflow: hidden

	.checkbox-input
		width: 1px
		height: 1px

		margin: -1px
		padding: 0

		position: absolute

		overflow: hidden
		border: 0		
		clip: rect(0 0 0 0)
		clip-path: inset(50%)
		white-space: nowrap


	.checkbox-input:checked ~
		.checkbox-fake
			background-color: #3366ff
			.checkbox-fake__check
				opacity: 1

	.checkbox-fake
		display: flex
		align-items: center
		justify-content: center
		min-width: 20px
		min-height: 20px

		border: none
		background-color: #c3c5c9
		cursor: pointer
		border-radius: 3px

		transition: all .3s ease

		&:hover, &:focus
			background-color: #abaeb5
			color: #abaeb5

	.checkbox-fake__check
		font-size: 14px

		color: #fff
		opacity: 0

		transition: all .3s ease

	.checkbox-text
		color: #000
