\:root
	--color-dark: #4d4d4d
	--color-light: #808080
	--color-accent: #5d71dd
	
.timer-countdown
	background: #fff
	box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2)
	border-radius: 30px
	width: 796px
	height: 359px
	padding: 75px 86px

.timer-countdown__title
	margin: 0
	margin-bottom: 35px
	font-weight: 700
	font-size: 40px
	line-height: 47px
	text-align: center
	color: var(--color-dark)

.timer-countdown__content
	display: flex
	justify-content: center

.timer-countdown__item
	text-align: center

.timer-countdown__val
	min-width: 81px
	font-weight: 700
	font-size: 70px
	line-height: 82px
	color: var(--color-accent)

.timer-countdown__separator
	font-weight: 700
	font-size: 48px
	line-height: 74px
	text-align: center
	color: var(--color-accent)
	margin: 0 33px

.timer-countdown__text
	font-family: 'Noto Sans', sans-serif
	font-weight: 400
	font-size: 14px
	line-height: 20px
	color: var(--color-dark)