@use 'settings/imports' as *;

.container {
	width: 100%;
	max-width: $container-width;

	margin: 0 auto;
	padding: 0 $container-offset + px;
}

.container-full {
	width: 100%;
	max-width: 100%;

	padding: 0 $container-offset + px;
}

.container-left-50 {
	max-width: 50%;

	padding: 0 $container-offset + px;

	@media (max-width: 768px) {
		max-width: 100%;
	}
}

.container-right-50 {
	max-width: 50%;

	margin-left: auto;

	padding: 0 $container-offset + px;

	@media (max-width: 768px) {
		max-width: 100%;
	}
}

.container-right {
	padding-left: calc((100% - $container-width) / 2 + $container-offset);

	@media (max-width: $container-width) {
		padding-left: $container-offset + px;
	}
}

.container-left {
	padding-right: calc((100% - $container-width) / 2 + $container-offset);

	@media (max-width: $container-width) {
		padding-right: $container-offset + px;
	}
}
