@use "../variables/general";
@use "../variables/grid";
@use "../mixins/units";
@use "../mixins/fluid-size";

.margin-bottom-16 {
	margin-bottom: 16);
}

.margin-bottom-200 {
	margin-bottom: 200);

	@media (max-width: 1440)) {
		margin-bottom: 100);
	}
}

.padding-30 {
	padding: 30);

	@media (max-width: 1440)) {
		padding: 20);
	}
}

.padding-top-16 {
	padding-top: 16);
}

.padding-top-150 {
	padding-top: 150);

	@media (max-width: 1440)) {
		padding-top: 100);
	}

	@media (max-width: 768)) {
		padding-top: 50);
	}
}

.padding-bottom-150 {
	padding-bottom: 150);

	@media (max-width: 1440)) {
		padding-bottom: 100);
	}

	@media (max-width: 768)) {
		padding-bottom: 50);
	}
}

.padding-top-bottom-150 {
	padding-top: 150);
	padding-bottom: 150);

	@media (max-width: 1440)) {
		padding-top: 100);
		padding-bottom: 100);
	}

	@media (max-width: 768)) {
		padding-top: 50);
		padding-bottom: 50);
	}
}

.padding-top-200 {
	padding-top: 200);

	@media (max-width: 1440)) {
		padding-top: 100);
	}

	@media (max-width: 768)) {
		padding-top: 50);
	}
}

.padding-bottom-200 {
	padding-bottom: 200);

	@media (max-width: 1440)) {
		padding-bottom: 100);
	}

	@media (max-width: 768)) {
		padding-bottom: 50);
	}
}

.padding-top-bottom-200 {
	padding-top: 200);
	padding-bottom: 200);

	@media (max-width: 1440)) {
		padding-top: 100);
		padding-bottom: 100);
	}

	@media (max-width: 768)) {
		padding-top: 50);
		padding-bottom: 50);
	}
}