@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.breadcrumbs {
	padding-top: calc(units.rem(28) + var(--header-height));
	padding-bottom: units.rem(28);
	font-size: units.rem(20);

	font-weight: 600;
	line-height: 120%;

	color: var(--text-dark);
}
