.comments .author__icon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: rem(40);
	height: rem(40);

	font-weight: 500;
	font-size: rem(24);

	background-color: var(--california-lilac);

	border-radius: rem(5);

	color: var(--c-light);

	@media (min-width: em(1920.96)) {
		@include calc-size(border-radius, 5, 10, 1920, 3840, rem);
	}
}
