.ticker
	position: relative
	width: 100%
	overflow: hidden
	user-select: none

	&:before, &:after
		content: '';

	&:before
		left: 0
		background: linear-gradient(90deg, rgba(#19AC5C, 1) 0%, rgba(#19AC5C, 0) 100%)

	&:after
		right: 0
		background: linear-gradient(90deg, rgba(#19AC5C, 0) 0%, rgba(#19AC5C, 1) 100%)

.ticker__wrapper
	display: flex

	&:hover, &:focus
		.ticker__item
			animation-play-state: paused

.ticker__item
	display: flex
	align-items: center
	padding: 6px 16px
	padding-left: 100%

	font-family: sans-serif
	font-size: 70px
	font-weight: 500
	white-space: nowrap
	flex-shrink: 0
	animation: ticker 5s linear infinite

@keyframes ticker
	0%
		transform: translateZ(0)

	100%
		transform: translate3d(-100%, 0, 0)
