.tabs__arrow {
	position: absolute;
	top: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	width: rem(60);
	height: rem(60);

	padding: 0;

	border: none;

	border-radius: 100%;

	background-color: var(--c-accent);

	cursor: pointer;

	transform: translateY(-50%);

	transition: background-color 0.3s ease;

	@include min-full-hd-em {
		@include calc-size(width, 60, 120, 1920, 3840, rem);
		@include calc-size(height, 60, 120, 1920, 3840, rem);
	}

	> * {
		pointer-events: none;
	}
}
