@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.card__footer {
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.card--product .card__footer {
	background-color: #f0f0f0;
}

.card--info .card__footer {
	background-color: #f3f3f3;
}