@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.card__pressure {
	font-size: 14px;
	font-weight: 200;
	line-height: 1.2;
}