@use './card';
@use './card__img-link';
@use './card__img';
@use './card__main';
@use './card__title';
@use './card__minimal';
@use './card__footer';
@use './card__pressure';
@use './card__date';

.card {
	overflow: hidden;

	line-height: 1.2;
	text-align: center;
	border-radius: var(--bdrs);

	&:focus-visible {
		outline-color: var(--accent);
		outline-style: dashed;
		outline-width: var(--outline-width);
		outline-offset: var(--outline-offset);
	}
}