@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.card__main {
	gap: 15px;

	padding: 15px;
}

.card--product .card__main {
	background-color: #f0f0f0;
}

.card--info .card__main {
	background-color: #f3f3f3;
}