@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.card__title {
	font-weight: 700;
	@include adaptive-value.adaptive-value-rem(font-size, 22, 35);
	text-align: center;
	color: var(--accent);
}