@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.card {
	overflow: hidden;

	line-height: 1.2;
	text-align: center;
	border-radius: $bor-rad);

	&:focus-visible {
		outline-color: var(--accent);
		outline-style: dashed;
		outline-width: $outline-width);
		outline-offset: $outline-offset);
	}
}
