@use "./scheme";
@use "./scheme-switcher";
@use "./scheme-switcher__legend";
@use "./scheme-switcher__radio";
@use "./scheme-switcher__radio--light";
@use "./scheme-switcher__radio--auto";
@use "./scheme-switcher__radio--dark";
@use "./scheme-switcher__status";

.scheme {
	display: flex;
	flex-direction: column;
	align-items: center;
}
