.page
	// flex
	display: flex
	flex-direction: column

	// display: grid
	// grid-template-rows: auto 1fr auto
	// min-height: 100%

.main
	// if flex
	flex-shrink: 1
	flex-grow: 1
	flex-basis: auto

.section
	min-width: 0