@use '../../mixins/units';

.burger {
	--burger-width: units.rem(38);
	--burger-height: units.rem(26);
	--burger-line-height: units.rem(2);
	--burger-color: #000;

	position: relative;
	z-index: 4;

	flex-shrink: 0;

	display: none;

	width: var(--burger-width);
	height: var(--burger-height);

	@media (max-width: units.em(grid.$switch-point)) {
		display: inline-block;
	}

	&:before,
	&:after {
		content: "";

		position: absolute;

		display: block;

		width: 100%;
		height: var(--burger-line-height);

		background-color: var(--burger-color);

		border-radius: 2px;

		transition: rotate 0.3s ease;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}

.burger--is-active {
	&:before,
	&:after {
		left: 2%;
		width: 93%;
	}

	&:before {
		top: 50%;

		rotate: 45deg;
	}

	&:after {
		bottom: 45%;

		rotate: -45deg;
	}
}
