.burger__line {
	position: absolute;

	top: 50%;
	left: 0;

	width: 100%;
	height: var(--burger-line-height);

	background-color: var(--burger-color);

	opacity: 1;

	transform: translateY(-50%);

	transition: opacity 0.3s ease;
}

.burger--is-active .burger__line {
	opacity: 0;
}
