@use "./burger__line";

@use "settings/imports" as *;

.burger {
	flex-shrink: 0;
	position: relative;
	z-index: $z-index-header;

	display: none;

	width: $burger-width;
	height: $burger-height;

	@media (max-width: $max-switch-point) {
		display: inline-block;
	}

	&:before,
	&:after {
		content: "";

		position: absolute;

		display: block;

		width: 100%;
		height: $burger-line-height;

		background-color: $burger-line-color;

		border-radius: $burger-line-radius;

		transition: rotate 0.3s ease;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}

.burger--is-active {
	&:before,
	&:after {
		left: 2%;
		width: 93%;
	}

	&:before {
		top: 50%;

		rotate: 45deg;
	}

	&:after {
		bottom: 45%;

		rotate: -45deg;
	}
}
