	--code-bg: #dfe1e2
	--hljs-bg: #dfe1e2

	--code-color-tag: #e3704e

	--hljs-comment: #414141
	--hljs-quote: #414141

	--hljs-deletion: #d91e18
	--hljs-name: #d91e18
	--hljs-regexp: #d91e18
	--hljs-selector-class: #d91e18
	--hljs-selector-id: #d91e18
	--hljs-tag: #d91e18
	--hljs-template-variable: #d91e18
	--hljs-variable: #d91e18

	--hljs-link-meta-type: #aa5d00
	--hljs-built-in: #aa5d00
	--hljs-link: #aa5d00
	--hljs-literal: #aa5d00
	--hljs-meta: #aa5d00
	--hljs-number: #aa5d00
	--hljs-params: #aa5d00
	--hljs-type: #aa5d00

	--hljs-attribute: #aa5d00

	--hljs-addition: green
	--hljs-bullet: green
	--hljs-string: green
	--hljs-symbol: green

	--hljs-section: #007faa
	--hljs-title: #007faa

	--hljs-keyword: #7928a1
	--hljs-selector-tag: #7928a1