@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.card__footer {
	padding-bottom: units.rem(15);
	padding-left: units.rem(15);
	padding-right: units.rem(15);
}

.card--product .card__footer {
	background-color: #f0f0f0;
}

.card--info .card__footer {
	background-color: #f3f3f3;
}