@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.card__pressure {
	font-weight: 200;
	font-size: units.rem(14);
	line-height: 120%;
}