@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.card__main {
	gap: units.rem(15);

	padding: units.rem(15);
}

.card--product .card__main {
	background-color: #f0f0f0;
}

.card--info .card__main {
	background-color: #f3f3f3;
}