.footer__block:first-child {
	display: flex;
	flex-direction: column;
	row-gap: rem(10);

	color: var(--tangled-web);

	@include calc-size(font-size, 12, 16, 320, 1920, rem);

	@media ( min-width: em(1920.96) ) {
		@include calc-size(row-gap, 10, 20, 1920, 3840, rem);

		@include calc-size(font-size, 16, 32, 1920, 3840, rem);
	}
}

.footer__block:last-child {
	flex-shrink: 0;
}