<nav
	class="pagination__nav flex-column"
	aria-labelledby="my-pagination"
>
	<h2
		id="my-pagination"
		class="pagination__title visually-hidden"
	>
		Пагинация
	</h2>

	<ol class="pagination__list list-res flex-align-center">
		<li>
			<span class="pagination__element flex-center">
				1
			</span>
		</li>

		<li>
			<a
				class="pagination__element flex-center"
				href="#!"
			>
				2
			</a>
		</li>

		<li>
			<a
				class="pagination__element flex-center"
				href="#!"
			>
				3
			</a>
		</li>

		<li>
			<a
				class="pagination__element flex-center"
				href="#!"
			>
				4
			</a>
		</li>

		<li>
			<a
				class="pagination__element flex-center"
				href="#!"
			>
				5
			</a>
		</li>
	</ol>
</nav>