.intro .info__link {
	margin-left: auto;

	border-bottom: rem($border-width) solid currentColor;

	color: #92a9e2;

	transition: color .3s ease, border-color .3s ease;

	@media ( min-width: em(1920.96) ) {
		@include calc-size(border-width, $border-width, $border-width*2, 1920, 3840, rem);
	}

	@media ( max-width: em(576) ) {
		margin-left: unset;
		margin-right: auto;
	}

	@media ( any-hover: hover ) {
		&:hover {
			color: var(--c-accent);
		}

		&:focus-visible {
			outline-width: rem($outline-width);
			outline-style: dashed;
			outline-color: currentColor;
			outline-offset: rem($outline-offset);

			@media ( min-width: em(1920.96) ) {
				@include calc-size(outline-width, $outline-width, $outline-width*2, 1920, 3840, rem);
				@include calc-size(outline-offset, $outline-offset, $outline-offset*2, 1920, 3840, rem);
			}
		}

		&:active {
			color: var(--c-accent-dark);
		}
	}
}
