.hljs {
	display: block;

	padding-left: 1em;
	padding-right: 1em;

	overflow-x: auto;

	direction: ltr;

	text-align: left;

	white-space: pre;

	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	tab-size: 2;

	hyphens: none;

	background-color: var(--hljs-bg);

	border-radius: rem($border-radius);

	color: var(--c-text);

	@media (min-width: em(1920.96)) {
		@include calc-size(
			border-radius,
			$border-radius,
			$border-radius * 2,
			1920,
			3840,
			rem
		);
	}
}
