.video
	position: relative
	padding-bottom: 56.25% // 946/1682

	max-width: 100%
	width: 100%
	height: auto

	iframe
		width: 100%
		height: 100%

		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0

		border: none
		object-fit: cover
