.breadcrumbs
	padding:
		top: 24px
		bottom: 24px

	color: var(--night-gull-grey)

	.breadcrumbs__list, .breadcrumbs__item
		display: flex
		align-items: center

	.breadcrumbs__list
		flex-wrap: wrap
		gap: 12px

		@media ( min-width: em(1920.96) )
			+calc-size(gap, 12, 24, 1920, 3840, px)

	.breadcrumbs__item
		column-gap: 12px

		@media ( min-width: em(1920.96) )
			+calc-size(column-gap, 12, 24, 1920, 3840, px)
		
		&:not(:first-child)
			&:before
				content: ''
				
				display: block
				flex-shrink: 0

				width: 16px
				height: 16px

				background-image: url('../images/dist/icons/breadcrumbs-arrow.svg')
				background-position: center
				background-repeat: no-repeat
				background-size: cover

				@media ( min-width: em(1920.96) )
					+calc-size(width, 16, 32, 1920, 3840, px)
					+calc-size(height, 16, 32, 1920, 3840, px)

	a.breadcrumbs__link
		transition: color .3s ease

		@media ( any-hover: hover )
			&:hover
				color: var(--c-accent)
				cursor: pointer

		&:focus-visible
			outline-width: $outline-width+px
			outline-style: dashed
			outline-color: var(--c-accent)
			outline-offset: $outline-offset+px

			@media ( min-width: em(1920.96) )
				+calc-size(outline-width, $outline-width, $outline-width*2, 1920, 3840, px)
				+calc-size(outline-offset, $outline-offset, $outline-offset*2, 1920, 3840, px)

		&:active
			color: var(--c-accent-dark)
			outline: none