.scheme-switcher__radio {
  appearance: none;
  width: rem(32);
  height: rem(32);
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: rem(26);
  transition: filter 0.2s ease;

  @media (min-width: em(1920.96)) {
    @include calc-size(width, 32, 64, 1920, 3840, rem);
    @include calc-size(height, 32, 64, 1920, 3840, rem);

    @include calc-size(background-size, 26, 52, 1920, 3840, rem);
  }

  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    ~ .scheme-switcher__status {
      box-shadow: 0 0 0 rem(2) black;

      @media (min-width: em(1920.96)) {
        box-shadow: 0 0 0 calc-size-without-property(2, 4, 1920, 3840, rem) black;
      }
    }
  }
}