<article class="category__article article" data-slider-images-card>
	<div class="article__images-slider slider-images">
		<div class="slider-images__inner">
			<ul class="slider-images__list list-reset">
				<li class="slider-images__item" data-slider-images-item>
					<div class="slider-images__img-wrap">
						<img
							class="slider-images__img"
							src="assets/images/dist/category/image.jpg"
							srcset="assets/images/dist/category/image@2x.jpg 2x"
							width="581"
							height="380"
							alt="Стальной бассейн класса эконом"
							loading="lazy"
							decoding="auto"
						/>
					</div>
				</li>

				<li class="slider-images__item" data-slider-images-item>
					<div class="slider-images__img-wrap">
						<img
							class="slider-images__img"
							src="assets/images/dist/category/image-2.jpg"
							srcset="assets/images/dist/category/image-2@2x.jpg 2x"
							width="581"
							height="380"
							alt="Стальной бассейн класса эконом"
							loading="lazy"
							decoding="auto"
						/>
					</div>
				</li>

				<li class="slider-images__item" data-slider-images-item>
					<div class="slider-images__img-wrap">
						<img
							class="slider-images__img"
							src="assets/images/dist/category/image-3.jpg"
							srcset="assets/images/dist/category/image-3@2x.jpg 2x"
							width="581"
							height="380"
							alt="Стальной бассейн класса эконом"
							loading="lazy"
							decoding="auto"
						/>
					</div>
				</li>

				<li class="slider-images__item" data-slider-images-item>
					<div class="slider-images__img-wrap">
						<img
							class="slider-images__img"
							src="assets/images/dist/category/image-4.jpg"
							srcset="assets/images/dist/category/image-4@2x.jpg 2x"
							width="581"
							height="380"
							alt="Стальной бассейн класса эконом"
							loading="lazy"
							decoding="auto"
						/>
					</div>
				</li>
			</ul>

			<ul
				class="slider-images__pagination pagination-images list-reset"
				aria-hidden="true"
				data-slider-images-pagination
			></ul>
		</div>
	</div>
</article>
