html {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
p,
a,
button,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
figure,
figcaption,
blockqoute,
dl,
dd {
	margin: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	padding: 0;
}

address {
	font-style: normal;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

button, a {
	color: inherit;
}

input,
button,
textarea,
select {
	font: inherit;
}

input,
textarea {
	color: inherit;
	outline: none;

	&:focus:required:invalid {
		border-color: red;
	}

	&:required:valid {
		border-color: green;
	}
}

::selection {
	background-color: var(--c-accent);
	color: #fff;
}

svg {
	fill: currentColor;
}