@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.checkbox-label {
	position: relative;

	display: flex;
	align-items: center;

	column-gap: 10px;

	cursor: pointer;
}
