.checkbox-input {
	appearance: none;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 20px;
	height: 20px;
	margin: 0;

	background-color: transparent;
	border: 1px solid var(--label-color);
	border-radius: var(--bdrs);

	transition: border-color .3s ease;

	&:focus-visible {
		outline-color: var(--accent);
		outline-style: dashed;
		outline-width: var(--outline-width);
		outline-offset: var(--outline-offset);
	}

	&:before {
		content: "";

		position: absolute;
		top: 50%;
		left: 50%;

		display: block;
		width: 13px;
		height: 13px;

		margin: auto;

		background-color: var(--accent);
		border-radius: var(--bdrs);

		opacity: 0;

		cursor: pointer;

		transition: opacity 0.3s ease;

		transform: translate(-50%, -50%);
	}

	&:checked {
		border-color: var(--accent);

		&:before {
			content: "";

			opacity: 1;
		}
	}
}