:root {
	--fz: 16px;

	--gap: 30px;

	--font-title: "Oswald", sans-serif;
	--font-text: "Oswald", sans-serif;

	--index: calc(1vh + 1vw);

	--bor-width: 1px;
	--bdrs: 10px;

	--outline-width: 2px;
	--outline-offset: 4px;

	--body-bg: #ffffff;
	--footer-bg: #000f59;

	--base-dark: #000000;
	--base-light: #ffffff;

	--dark: #1d1d1d;
	--light: #f2f2f2;

	--accent: #01cd9c;
	--accent-light: #00607f;
	--accent-dark: #00607f;
}