.switch-label
	display: inline-flex
	align-items: center
	gap: rem(10)

	position: relative

	cursor: pointer

	overflow: hidden

	color: #000

	@media ( min-width: em(1920.96) )
		+calc-size(gap, 10, 20, 1920, 3840, rem)

		+calc-size(width, 50, 100, 1920, 3840, rem)
		+calc-size(height, 26, 52, 1920, 3840, rem)