.radio-input {

	appearance: none;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: rem(24);
	height: rem(24);

	background-color: #ffffff;

	border: rem($bor-width) solid #415674;

	border-radius: 100%;

	@include min-full-hd-em {
		@include calc-size(border-width, $bor-width, $bor-width * 2, 1920, 3840, rem);
	}

	&:focus {
		outline-color: currentColor;
		outline-style: dashed;
		outline-width: rem(1);
		outline-offset: rem($outline-offset);

		@include min-full-hd-em {
			@include calc-size(outline-width, 1, 2, 1920, 3840, rem);

			@include calc-size(outline-offset, $outline-offset, $outline-offset * 2, 1920, 3840, rem);
		}
	}

	&:before {
		content: "";

		position: absolute;
		inset: 0;

		overflow: hidden;

		margin: auto;

		transition:
			opacity 0.3s ease,
			background-color 0.3s ease,
			scale 0.3s ease;

		scale: 0;
	}

	&:checked {
		&:before {
			display: block;

			width: rem(14);
			height: rem(14);

			background-color: #4b83fc;

			border-radius: 100%;

			scale: 1;

			@include min-full-hd-em {
				@include calc-size(width, 14, 28, 1920, 3840, rem);
				@include calc-size(height, 14, 28, 1920, 3840, rem);
			}
		}
	}
}
