// Greed system
$gutter-num: 30

$gutter: $gutter-num+px

$screen-min-width: 320

$content-width: 1254

$container-offset: 12

$content-width-units: rem($content-width)

$container-width: calc($content-width + $container-offset*2)
// End. Greed system