.go-back-top
	display: flex
	align-items: center
	justify-content: center

	font-size: 22px

	position: fixed
	right: 20px
	bottom: 100px
	z-index: 15

	min-width: 40px
	min-height: 40px

	background-color: #9ea1a3

	border: none
	border-radius: 50%

	cursor: pointer

	color: #000

	text-align: center

	pointer-events: none
	user-select: none

	opacity: 0

	transform: rotate(-90deg)

	transition: all .4s ease

	@media ( min-width: em(1920.96) )
		+calc-size(bottom, 100, 200, 1920, 3840, px)
		+calc-size(right, 20, 40, 320, 1920, rem)

		+calc-size(min-width, 40, 80, 1920, 3840, px)
		+calc-size(min-height, 40, 80, 1920, 3840, px)

		+calc-size(font-size, 22, 44, 1920, 3840, rem)

	&:hover
		opacity: 1
		background-color: var(--c-accent)
		color: #fff

	&:active
		background-color: var(--c-accent-dark)

	&.go-back-top--is-active
		right: 20px

		pointer-events: auto
		user-select: auto

		opacity: .6