Every
<a>
	element (anchor element) with the "data-fslightbox" attribute opens the
	lightbox. The content behind the URL or path passed to the "href" attribute
	will be displayed in the lightbox. Каждый элемент
	<a>
		(якорный элемент) с атрибутом «data-fslightbox» открывает лайтбокс.
		Содержимое за URL-адресом или путем, переданным в атрибут «href», будет
		отображаться в лайтбоксе.

		<a data-fslightbox="portfolio" href="https://i.imgur.com/fsyrScY.jpg">
			<img src="https://i.imgur.com/fsyrScY.jpg" alt="Image" />
		</a>

		There is no need to place anything specific inside of an
		<a>
			element. Нет необходимости размещать что-либо конкретное внутри элемента
			<a
				>.

				<a data-fslightbox="portfolio" href="/img/example-image.jpg">0</a>
			</a></a
		></a
	></a
>
