// МОДУЛЬ MATH ДЛЯ SASS
@use 'sass:math'
// END. МОДУЛЬ MATH ДЛЯ SASS

// Reset styles
@import './_reset-styles/reset'
// End. Reset styles

// Variables
@import './_variables/fonts'

@import './_variables/general'

@import './_variables/grid'

@import './_variables/root'
// End. Variables

// Fonts
@import './_fonts/fonts'
// END. Fonts

// Mixins
@import './_mixins/include-mixins'
// END. Mixins

// Global
@import './_global-config/*.sass'
// END. Global

// Header
@import '_components/header/header-all'
// End. Header

// Footer
@import '_components/footer/footer-all'
// End. Footer

.tabs
	position: relative

.tabs__list
	display: flex
	align-items: center
	row-gap: rem(12)
	column-gap: rem(20)

	list-style-type: none

	@media ( min-width: em(1920.96) )
		+calc-size(row-gap, 12, 24, 1920, 3840, rem)
		+calc-size(column-gap, 20, 40, 1920, 3840, rem)

.tabs__btn
	padding: rem(10)

	font-size: rem(20)
	line-height: 1.2

	border: none
	border-radius: rem($border-radius)

	color: #fff

	cursor: pointer

	background-color: var(--c-accent)

	transition: color 0.3s ease, background-color 0.3s ease

	@media ( min-width: em(1920.96) )
		+calc-size(padding, 10, 20, 1920, 3840, rem)
		+calc-size(font-size, 20, 40, 1920, 3840, rem)

		+calc-size(border-radius, $border-radius, $border-radius*2, 1920, 3840, rem)

	@media ( any-hover: hover )
		&:hover
			color: #000

	&:focus-visible
		outline-width: rem($outline-width)
		outline-style: dashed
		outline-color: var(--c-accent)
		outline-offset: rem($outline-offset)

		@media ( min-width: em(1920.96) )
			+calc-size(outline-width, $outline-width, $outline-width*2, 1920, 3840, rem)
			+calc-size(outline-offset, $outline-offset, $outline-offset*2, 1920, 3840, rem)

	&:active
		background-color: var(--c-accent-light)

.tabs__btn--active
	color: #fff

	background-color: var(--c-accent)

	pointer-events: none

.tabs__content
	display: none
	background-color: #fff

.tabs__content--active
	display: block

.tabs-content
	padding: 40px 60px
	width: 796px

.tabs-content__title
	margin: 0
	margin-bottom: 20px
	font-family: 'Roboto', sans-serif
	font-weight: 700
	font-size: 24px
	line-height: 28px
	color: var(--color-dark)

.tabs-content__descr
	margin: 0
	margin-bottom: 59px
	font-weight: 400
	font-size: 14px
	line-height: 20px
	color: var(--color-dark)

.tabs-content__list
	margin: 0
	padding: 0
	list-style-type: none
	width: 100%
	display: flex
	align-items: center
	justify-tabs-content: space-between

.tabs-content__link
	padding: 14px
	width: 200px
	height: 120px
	display: inline-block
	border-radius: 4px
	background-color: #ebecf3
	background-repeat: no-repeat
	background-position: right bottom

.tabs-content__text
	font-family: 'Roboto', sans-serif
	font-weight: 500
	font-size: 14px
	line-height: 16px
	color: #a2a6c0

.tabs__arrow
	position: absolute

	top: 50%
	
	transform: translateY(-50%)
	width: 60px
	height: 60px
	padding: 0
	border: none
	background-color: var(--c-accent)
	border-radius: 100%
	display: flex
	align-items: center
	justify-tabs-content: center
	cursor: pointer
	transition: background-color 0.3s ease-in-out

	> *
		pointer-events: none

.tabs__arrow svg
	pointer-events: none
	fill: #999
	transition: fill 0.3s ease-in-out

.tabs__arrow:hover
	background-color: #333

.tabs__arrow:hover svg
	fill: var(--c-accent)

.tabs__arrow--next
	right: 50px

.tabs__arrow--prev
	left: 50px
