<section class="breadcrumbs">
	<div class="container">
		<h2
			class="h2 visually-hidden"
		>
			Хлебные крошки
		</h2>

		<nav
			class="breadcrumbs__nav flex"
			aria-labelledby="my-breadcrumbs"
		>
			<h2
				class="h2 visually-hidden"
				id="my-breadcrumbs"
			>
				Ссылки хлебных крошек
			</h2>

			<ol
				class="breadcrumbs__list list-reset"
				itemscope
				itemtype="http://schema.org/BreadcrumbList"
			>
				<li
					class="breadcrumbs__item"
					itemprop="itemListElement"
					itemscope
					itemtype="http://schema.org/ListItem"
				>
					<a
						class="breadcrumbs__link"
						href="/"
						itemprop="item"
					>
						<span itemprop="name">
							Главная
						</span>
					</a>

					<meta
						itemprop="position"
						content="1"
					>
				</li>

				@loop('src/components/breadcrumbs/loop-items.html', '../components/breadcrumbs/data.json')
			</ol>
		</nav>
	</div>
</section>