// COLOR-SCHEME
// @import './_components/colorScheme'
// END. COLOR-SCHEME
.scheme-switcher 
	position: relative
	padding: 2px
	display: inline-grid
	grid-template-columns: 1fr 1fr 1fr
	grid-template-rows: 1fr
	border: none

.scheme-switcher__legend 
	position: absolute
	opacity: 0
	pointer-events: none

.scheme-switcher__radio
	appearance: none
	margin: 0
	width: 32px
	height: 32px
	background-position: center
	background-repeat: no-repeat
	background-size: 24px
	transition: filter .1s ease-in
	&:focus
		outline: none
	&:focus-visible ~ .scheme-switcher__status 
		box-shadow: 0 0 0 2px black

.scheme-switcher__radio--light 
	background-image: url(../img/scheme-light-sun.svg)

.scheme-switcher__radio--auto 
	background-image: url(../img/scheme-auto-on.svg)

.scheme-switcher__radio--dark 
	background-image: url(../img/scheme-dark-moon.svg)

.scheme-switcher__status 
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: -1
	box-shadow: 0 0 0 2px rgb(0 0 0 / 0.2)
	border-radius: 18px
	background-color: rgb(255 255 255 / 0.5)
	background-repeat: no-repeat
	background-image: url(../img/scheme-status.svg)
	background-size: 32px
	background-position: center
	transition: background-position 0.1s ease-in

.scheme-switcher__radio
	&:focus-visible ~ .scheme-switcher__status 
		box-shadow: 0 0 0 2px black

.scheme-switcher__radio--light
	&:checked ~ .scheme-switcher__status 
		background-position: left 2px center

.scheme-switcher__radio--auto
	&:checked ~ .scheme-switcher__status 
		background-position: center center

.scheme-switcher__radio--dark
	&:checked ~ .scheme-switcher__status 
		background-position: right 2px center
