/* LIGHT SCHEME STYLE */
@import url('../global-vars.css');
:root {
	--body-bg: #fcfbfb;

	--color-text: var(--c-dark);

	--header-color: var(--c-light);
	--header-bg: var(--c-san-felix);

	--social-btn-bg: var(--c-light);
	--social-btn-color: var(--c-pine-tree);

	--nav-bg: var(--c-pine-tree);
	--nav-color: var(--c-light);
	--nav-btn-close-color: var(--c-light);
	--nav-btn-close-color-hover: var(--c-deco);
	--nav-link-color-hover: var(--c-deco);
	--nav-spoiler-border: var(--c-deco);

	--search-bg: var(--c-pine-tree);
	--search-border: var(--c-deco);
	--search-curet-color: var(--c-deco);
	--search-color: var(--c-deco);
	--search-input-bg: var(--c-green-house);
	--search-field-google-button-bg: var(--c-deco);
	--search-field-google-button-bg-hover: #102402;
	--search-field-google-button-color: #102402;
	--search-field-google-button-color-hover: #dba61c;

	--burger-search-hover: var(--c-deco);
	--burger-search-text: var(--c-light);

	--section-title-color: var(--c-dark);
	--section-description-color: var(--c-dark);
	--section-text-color: var(--c-dark);
	--section-button-bg: var(--c-accent);
	--section-button-fill-color: var(--c-light);
	--section-button-stroke-color: var(--c-dark);
	--section-button-stroke-color-hover: var(--c-light);
	--section-button-border: var(--c-accent);
	--section-button-bg-hover: #eb1e08;
	--section-button-box-shadow: #eb1e08;

	--link-color-hover: var(--c-accent);
	--link-color: var(--c-salem);

	--article-bg: var(--c-pine-tree);
	--article-info-color: var(--c-light);
	--article-info-color-blog: var(--c-dark);
	--article-title-link-hover: var(--c-deco);
	--article-image-link-after-border-color: var(--c-deco);
	--article-image-link-box-shadow: 12, 26, 1;

	--subscribe-form-border-color: var(--c-pine-tree);

	--sidebar-content-bg: #e2e2e2;

	--soderzhanie-item-link-bg: var(--c-dark);
	--soderzhanie-item-link-hover-bg: var(--c-accent);
	--soderzhanie-item-link-hover-before-color: var(--c-accent);

	--form-input-border: var(--c-deco);
	--form-input-bg: var(--c-green-house);
	--form-input-color: var(--c-deco);
	--form-curet-color: var(--c-deco);
	--form-required-color: var(--c-accent);

	--blockquote-border: var(--c-salem);

	--spoiler-title-single-post: var(--c-salem);

	--pagination-number: var(--c-mine-shaft);
	--pagination-left-right: var(--c-mine-shaft);
}
/* END. LIGHT SCHEME STYLE */

.scheme-switcher__radio {
	filter: invert(0);
}
.scheme-switcher__radio:checked {
	filter: invert(1);
}
.scheme-switcher__status {
	filter: invert(0);
}

.page-blog .section-intro::after {
	opacity: 0.3;
}