.page-home .blog__articles {
	@media ( min-width: em(576.96) ) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(20);
	}

	@media ( min-width: em(992.96) ) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media ( min-width: em(1920.96) ) {
		@include calc-size(gap, 20, 40, 1920, 3840, rem);
	}
}