.blog-slider__btn {
	top: 150px;
	
	display: flex;
	align-items: center;
	justify-content: center;

	width: rem(44);
	height: rem(44);

	color: var(--c-light);

	border: none;
	border-radius: rem($border-radius);

	background-color: rgba(242, 245, 252, 0.63);

	transition: background-color .3s ease;

	@media ( min-width: em(576.96) ) {
		display: none;
	}

	&:after {
		font-size: rem(16);

		color: var(--c-light);
	}
}