.font-face
	font-family: "font-icons" !important
	font-style: normal
	font-weight: 400
	font-variant: normal
	font-display: block
	text-transform: none
	speak: never
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

[class^="icon-"], [class*=" icon-"]
	&::before
		@extend .font-face
		display: block

// Вставить код элементов сюда