// Color variable
\:root
	--c-accent: #7db3c2

	--c-darken: #000
	--c-lighten: #fff

	--c-dark: #333
	--c-light: #f4f4f4

	--c-title-light: #fff
	--c-title-dark: #333

	--c-text-light: #fff
	--c-text-dark: #333


$c-accent: #7db3c2

$c-darken: #000
$c-lighten: #fff

$c-dark: #333
$c-light: #f4f4f4

$c-title-light: #fff
$c-title-dark: #333

$c-text-light: #fff
$c-text-dark: #333
// End. Color variable


// Fonts
$fz: 16px
$lh: 1.5

$font-name-all: 'Akrobat-custom'

$font-name-title: 'Akrobat-custom'

$font-name-text: 'Akrobat-custom'

$font-name-body: 'Akrobat-custom'

$font-sans-serif: sans-serif

$font-serif: serif

$ff-all: $font-name-all, $font-sans-serif

$ff-title: $font-name-all, $font-sans-serif

$ff-text: $font-name-all, $font-sans-serif

$ff-body: $font-name-all, $font-sans-serif
// End. Fonts


// Grid gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width
// End. Grid gutter


// Greed system
$screen-min-width: 320px
$screen-max-width: 1920px
$content-width: 1254px
$container-offset: 0.9375rem
$container-width: calc($content-width + ($container-offset * 2))
$design-width: 1600
// End. Greed system


// Breakpoints px
$w390: 390px
$w460: 460px
$w576: 576px
$w640: 640px
$w768: 768px
$w992: 992px
$w1024: 1024px
$w1200: 1200px
$w1400: 1400px
$w1536: 1536px
// End. Breakpoints px


// Breakpoints em
$em390: 390
$em460: 460
$em576: 576
$em640: 640
$em768: 768
$em992: 992
$em1024: 1024
$em1200: 1200
$em1400: 1400
$em1536: 1536
// End. Breakpoints em