// Color variable
$c-accent: darken(orange, 10%)

$c-black: #000
$c-white: #fff

$c-dark: #333
$c-light: #f4f4f4

$c-title-light: #fff
$c-title-dark: #333

$c-text-light: #fff
$c-text-dark: #333
// End. Color variable


// Fonts
$fz: 16px
$lh: 1.5
// End. Fonts


// Grid gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width
// End. Grid gutter


// Greed system
$screen-min-width: 320px
$screen-max-width: 1920px
$content-width: 1254px
$container-offset: rem(15)
$container-width: calc($content-width + (var(--container-offset) * 2))
$design-width: 1600
// End. Greed system


// Breakpoints px
$w390: 390px
$w460: 460px
$w576: 576px
$w640: 640px
$w768: 768px
$w992: 992px
$w1024: 1024px
$w1200: 1200px
$w1400: 1400px
$w1536: 1536px
// End. Breakpoints px


// Breakpoints em
$em390: 390
$em460: 460
$em576: 576
$em640: 640
$em768: 768
$em992: 992
$em1024: 1024
$em1200: 1200
$em1400: 1400
$em1536: 1536
// End. Breakpoints em