$breakpoint: 768
.header
	position: fixed
	top: 0
	left: 0
	z-index: 5

	width: 100%

	padding: rem(15) 0
	+calc-size(padding-top, 15, 30, 1920.96, 3840, rem)
	+calc-size(padding-bottom, 15, 30, 1920.96, 3840, rem)

	background-color: var(--c-header-bg)
	color: var(--c-header-text)

	&:before
		content: ""

		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0

		display: block

		width: 100%
		height: 100%

		background-color: var(--c-header-bg)

	@media ( min-width: em(3840.96) )
		padding: rem(30) 0

	.header__container
		display: flex
		align-items: center
		justify-content: space-between

		padding: 10px 0
		+calc-size(padding-top, 10, 20, 1920.96, 3840, px)
		+calc-size(padding-bottom, 10, 20, 1920.96, 3840, px)

		@media ( min-width: em(3840.96) )
			adding: 20px 0

	.logo
		z-index: 6

	.logo__image
		max-width: rem(166)
		width: 100%
		height: auto
		+calc-size(max-width, 166, 332, 1920.96, 3840, rem)

		@media ( min-width: em(3840.96) )
			max-width: rem(332)

	.nav
		@media ( max-width: em($breakpoint) )
			position: fixed
			top: 0
			right: 0
			z-index: 4

			width: 100%
			height: 100%

			padding: var(--header-height) $gutter $gutter
			+calc-size(padding-right, 30, 60, 1920.96, 3840, rem)
			+calc-size(padding-left, 30, 60, 1920.96, 3840, rem)
			+calc-size(padding-bottom, 30, 60, 1920.96, 3840, rem)

			background-color: var(--c-header-bg)
			overflow-y: auto

			transform: translateX(400%)

			transition: transform 0.5s ease-in-out

			@media ( min-width: em(768.96) )
				z-index: 5

			@media ( min-width: em(3840.96) )
				padding: var(--header-height) 60px 60px

	.nav.nav--is-active
		@media ( max-width: em($breakpoint) )
			transform: unset

	.nav__list
		display: flex
		align-items: center
		gap: $gutter
		+calc-size(gap, 30, 60, 1920.96, 3840, px)

		@media ( max-width: em($breakpoint) )
			flex-direction: column

			font-size: rem(20)
			font-weight: 700

			padding-top: $gutter
			+calc-size(padding-top, $gutter, 60, 1920.96, 3840, rem)

		@media ( min-width: em(3840.96) )
			gap: 60px

			padding-top: 60px

	.nav__link
		border: 2px dashed transparent
		color: var(--c-nav-link)

		transition: all .3s ease

		&:hover
			color: var(--c-nav-link-hover-focus)

		&:focus-visible
			outline: 2px dashed var(--c-nav-link-hover-focus)
			outline-offset: 2px

			@media ( min-width: em(2880.96) )
				outline: 4px dashed var(--c-nav-link-hover-focus)
				outline-offset: 4px

		&:active
			outline: none
			color: var(--c-nav-link-active)

	.header__contacts
		display: flex
		flex-direction: column
		align-items: flex-end

// Burger style
.burger
	display: none

	width: $gutter
	height: $gutter

	position: relative

	background-color: transparent
	border: 2px dashed transparent

	&:before, &:after
		content: ""

		position: absolute
		left: 0

		width: 100%
		height: rem(2)

		background-color: var(--c-burger-line-color)

		transition: all 0.3s ease

	&:before
		top: rem(4)
		+calc-size(top, 4, 8, 1920.96, 3840, rem)

	&:after
		bottom: rem(4)
		+calc-size(bottom, 4, 8, 1920.96, 3840, rem)

	&:focus-visible
		outline: none
		border-color: var(--c-burger-hover-focus)

		&:before, &:after
			background-color: var(--c-burger-hover-focus)

		.burger__line
			background-color: var(--c-burger-hover-focus)

	&:active
		border-color: transparent

		&:before, &:after
			background-color: var(--c-burger-active)

		.burger__line
			background-color: var(--c-burger-active)

	@media ( max-width: em($breakpoint) )
		display: flex
		align-items: center
		justify-content: center

		z-index: 6

	> *
		pointer-events: none

.burger--active
	&:before
		top: 50%

		transform: rotate(45deg)

	&:after
		bottom: auto
		top: 50%

		transform: rotate(-45deg)

	.burger__line
		opacity: 0

.burger__line
	position: absolute
	left: 0
	top: 50%

	width: 100%
	height: rem(2)

	background-color: var(--c-burger-line-color)

	transform: translateY(-50%)

	transition: all .3s ease