<!-- Автор указывается с помощью свойства article:author. Если авторов несколько, перечислите их в разных метатегах. -->
<meta
	property="article:author"
	content="Абрамов А."
>


<!-- В качестве тематик можно указать, например, ключевые слова или хэштеги. Укажите тематики в свойстве article:tag. Если тематик несколько, перечислите их в разных метатегах. -->
<meta
	property="article:tag"
	content="Тренды"
>


<!-- Даты публикации и изменения указываются в свойствах article:published_time и article:modified_time. Даты записываются в формате ISO 8601. -->
<meta
	property="article:published_time"
	content="2024-10-12T09:20+06:00"
>
<meta
	property="article:modified_time"
	content="2024-10-14T09:20+06:00"
>


<!-- Рубрика — это раздел сайта, посвященный определенной теме. Чтобы указать рубрику материала, используйте свойство article:section. -->
<meta
	property="article:section"
	content="Погода"
>


<!-- URL материала должен содержаться в свойстве og:url. -->
<meta
	property="og:url"
	content="https://www.example-news.com/life/weather/moscow"
>
<!-- Иначе значение будет взято из канонической ссылки: -->
<link
	rel="canonical"
	href="https://www.example-news.com/life/weather/moscow"
>

