.page-search
	#ya-site-results
		color: var(--c-text)
		background: var(--c-body-bg)

	#ya-site-results :visited,
	#ya-site-results .b-pager :visited,
	#ya-site-results .b-foot__link:visited,
	#ya-site-results .b-copyright__link:visited
		color: var(--c-valencia)

	#ya-site-results a:link,
	#ya-site-results a:active,
	#ya-site-results .b-pseudo-link,
	#ya-site-results .b-head-tabs__link,
	#ya-site-results .b-head-tabs__link:link,
	#ya-site-results .b-head-tabs__link:visited,
	#ya-site-results .b-dropdown__list .b-pseudo-link,
	#ya-site-results .b-dropdowna__switcher .b-pseudo-link,
	.b-popupa .b-popupa__content .b-menu__item,
	#ya-site-results .b-foot__link:link,
	#ya-site-results .b-copyright__link:link,
	#ya-site-results .b-serp-item__mime,
	#ya-site-results .b-pager :link
		color: #3794ff

		transition: color .3s ease

	#ya-site-results :link:hover,
	#ya-site-results :visited:hover,
	#ya-site-results .b-pseudo-link:hover
		color: var(--c-dark-burgundy) !important

	#ya-site-results .b-pager__current,
	#ya-site-results .b-serp-item__number
		color: var(--c-text) !important

	#ya-site-results
		font-family: $ff-body

	#ya-site-results .l-page,
	#ya-site-results .b-bottom-wizard
		font-size: 14px
		+calc-size(font-size, 14, 28, 1920.96, 3840, px)

		@media ( min-width: em(3840.96) )
			font-size: 28px

	#ya-site-results .b-pager
		font-size: 1.25em

	#ya-site-results .b-serp-item__title,
	#ya-site-results .ad .ad-link
		font-size: 16px
		+calc-size(font-size, 16, 32, 1920.96, 3840, px)

		@media ( min-width: em(3840.96) )
			font-size: 32px

	#ya-site-results .b-serp-item__title-link:link,
	#ya-site-results .b-serp-item__title-link
		font-size: 1em

	#ya-site-results .b-serp-item__number
		font-size: 14px
		+calc-size(font-size, 14, 28, 1920.96, 3840, px)

		@media ( min-width: em(3840.96) )
			font-size: 28px

	#ya-site-results .ad .ad-link a
		font-size: 0.88em

	#ya-site-results .b-serp-url,
	#ya-site-results .b-direct .url,
	#ya-site-results .b-direct .url a:link,
	#ya-site-results .b-direct .url a:visited
		font-size: 14px
		+calc-size(font-size, 14, 28, 1920.96, 3840, px)

		@media ( min-width: em(3840.96) )
			font-size: 28px

	#ya-site-results .b-serp-item__links-link
		font-size: 14px
		+calc-size(font-size, 14, 28, 1920.96, 3840, px)

		@media ( min-width: em(3840.96) )
			font-size: 28px

	#ya-site-results .b-pager__inactive,
	#ya-site-results .b-serp-item__from,
	#ya-site-results .b-direct__head-link,
	#ya-site-results .b-image__title,
	#ya-site-results .b-video__title
		color: var(--c-text) !important

	#ya-site-results .b-pager__current,
	#ya-site-results .b-pager__select
		background: #E0E0E0

	#ya-site-results .b-foot,
	#ya-site-results .b-line
		border-top-color: #E0E0E0

	#ya-site-results .b-dropdown__popup .b-dropdown__list,
	.b-popupa .b-popupa__content
		background-color: var(--c-body-bg)

	.b-popupa .b-popupa__tail
		border-color: #E0E0E0 transparent

	.b-popupa .b-popupa__tail-i
		border-color: var(--c-body-bg) transparent

	.b-popupa_direction_left.b-popupa_theme_ffffff .b-popupa__tail-i,
	.b-popupa_direction_right.b-popupa_theme_ffffff .b-popupa__tail-i
		border-color: transparent var(--c-body-bg)

	#ya-site-results .b-dropdowna__popup .b-menu_preset_vmenu .b-menu__separator
		border-color: #E0E0E0

	.b-specification-list,
	.b-specification-list .b-pseudo-link,
	.b-specification-item__content label,
	.b-specification-item__content .b-link,
	.b-specification-list .b-specification-list__reset .b-link
		color: var(--c-text) !important
		font-family: Arial
		font-size: 13px
		font-style: normal
		font-weight: normal

	.b-specification-item__content .b-calendar__title
		font-family: Arial
		color: var(--c-text)
		font-size: 13px
		font-style: normal
		font-weight: normal

	.b-specification-item__content .b-calendar-month__day_now_yes
		color: #E0E0E0

	.b-specification-item__content .b-calendar .b-pseudo-link
		color: var(--c-text)

	.b-specification-item__content
		font-family: Arial !important
		font-size: 13px

	.b-specification-item__content :visited
		color: var(--c-valencia)

	.b-specification-item__content .b-pseudo-link:hover,
	.b-specification-item__content :visited:hover
		color: var(--c-dark-burgundy) !important

	#ya-site-results .b-popupa .b-popupa__tail-i
		background: var(--c-body-bg)
		border-color: #E0E0E0 !important
