@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.breadcrumbs__item {
	display: flex;
	align-items: center;
	column-gap: units.rem(12);

	&:not(:first-child) {
		&:before {
			content: '»';
			flex-shrink: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: units.rem(16);
			height: units.rem(16);
		}
	}
}
