<nav
	class="header__nav nav nav--two-level"
	data-nav
>
	<ul
		class="menu flex-align-center"
		data-menu
		itemscope
		itemtype="https://schema.org/SiteNavigationElement"
	>
		<li
			class="menu-item"
			data-menu-item
		>
			<a
				class="menu-link state-accent"
				href="#"
				data-menu-link
				itemprop="url"
			>
				Пункт 1
			</a>
		</li>

		<li
			class="menu-item"
			data-menu-item
		>
			<a
				class="menu-link state-accent"
				href="#"
				data-menu-link
				itemprop="url"
			>
				Пункт 2
			</a>
		</li>
	</ul>
</nav>