/* DARK SCHEME STYLE */
@import url('../global-vars.css');
:root {
	--body-bg: #081101;

	--color-text: var(--c-light);

	--header-color: var(--c-pine-tree);
	--header-bg: var(--c-deco);

	--social-btn-bg: var(--c-pine-tree);
	--social-btn-color: var(--c-light);

	--nav-bg: var(--c-pine-tree);
	--nav-color: var(--c-light);
	--nav-btn-close-color: var(--c-light);
	--nav-btn-close-color-hover: var(--c-deco);
	--nav-link-color-hover: var(--c-deco);
	--nav-spoiler-border: var(--c-deco);

	--search-bg: var(--c-pine-tree);
	--search-border: var(--c-deco);
	--search-curet-color: var(--c-deco);
	--search-color: var(--c-deco);
	--search-input-bg: var(--c-green-house);
	--search-field-google-button-bg: var(--c-deco);
	--search-field-google-button-bg-hover: #081101;
	--search-field-google-button-color: #081101;
	--search-field-google-button-color-hover: var(--c-golden-grass);

	--burger-search-hover: var(--c-limeade);
	--burger-search-text: var(--c-pine-tree);

	--section-title-color: var(--c-light);
	--section-description-color: var(--c-light);
	--section-text-color: var(--c-light);
	--section-button-bg: var(--c-accent);
	--section-button-fill-color: var(--c-light);
	--section-button-stroke-color: var(--c-light);
	--section-button-stroke-color-hover: var(--c-light);
	--section-button-border: var(--c-accent);
	--section-button-bg-hover: var(--c-accent);
	--section-button-box-shadow: var(--c-accent);
	--section-button-box-shadow-transparent: rgba(235, 31, 8, 0);

	--link-color-hover: var(--c-salem);
	--link-color: var(--c-golden-grass);

	--article-bg: var(--c-pine-tree);
	--article-info-color: var(--c-light);
	--article-info-color-blog: var(--c-light);
	--article-title-link-hover: var(--c-deco);
	--article-image-link-after-border-color: var(--c-deco);
	--article-image-link-box-shadow: 182, 211, 131;

	--subscribe-form-border-color: var(--c-deco);

	--sidebar-content-bg: #132604;

	--soderzhanie-item-link-bg: var(--c-light);
	--soderzhanie-item-link-hover-bg: var(--c-golden-grass);
	--soderzhanie-item-link-hover-before-color: var(--c-golden-grass);

	--form-input-border: var(--c-deco);
	--form-input-bg: var(--c-green-house);
	--form-input-color: var(--c-deco);
	--form-curet-color: var(--c-deco);
	--form-required-color: var(--c-golden-grass);

	--blockquote-border: var(--c-deco);

	--spoiler-title-single-post: var(--c-golden-grass);

	--pagination-number: var(--c-light);
	--pagination-left-right: var(--c-light);
}
/* END. DARK SCHEME STYLE */

.scheme-switcher__radio {
	filter: invert(1);
}
.scheme-switcher__radio:checked {
	filter: invert(0);
}
.scheme-switcher__status {
	filter: invert(1);
}

.page-blog .section-intro::after {
	opacity: 0.6;
}