<div class="select" data-select>
	<button
		class="select__title btn-res flex-align-center state-color"
		data-select-title
		aria-expanded="false"
	>
		<img
			class="select__icon"
			src="assets/images/socials/telegram.svg"
			width="26"
			height="26"
			alt="Телеграм"
			loading="lazy"
			decoding="auto"
		/>

		<span class="select__value"> Telegram </span>
	</button>

	<div class="select__content" data-select-content>
		<ul class="select__options list-res" data-select-options>
			<li class="select__option" data-select-option>
				<button
					class="select__button btn-res flex-align-center state-color"
					data-option-inner-button
				>
					<img
						class="select__icon"
						src="assets/images/socials/Instagram.svg"
						width="26"
						height="26"
						alt="Инстаграм"
						loading="lazy"
						decoding="auto"
					/>

					<span class="select__value"> Instagram </span>
				</button>
			</li>

			<li class="select__option" data-select-option>
				<button
					class="select__button select__button--is-active btn-res flex-align-center state-color"
					data-option-inner-button
				>
					<img
						class="select__icon"
						src="assets/images/socials/telegram.svg"
						width="26"
						height="26"
						alt="Телеграм"
						loading="lazy"
						decoding="auto"
					/>

					<span class="select__value"> Telegram </span>
				</button>
			</li>

			<li class="custom-select__option" data-select-option>
				<button
					class="select__button btn-res flex-align-center state-color"
					data-option-inner-button
				>
					<img
						class="select__icon"
						src="assets/images/socials/vk.svg"
						width="26"
						height="26"
						alt="Вконтакте"
						loading="lazy"
						decoding="auto"
					/>

					<span class="select__value"> VK </span>
				</button>
			</li>

			<li class="custom-select__option" data-select-option>
				<button
					class="select__button btn-res flex-align-center state-color"
					data-option-inner-button
				>
					<img
						class="select__icon"
						src="assets/images/socials/tiktok.svg"
						width="26"
						height="26"
						alt="Тик Ток"
						loading="lazy"
						decoding="auto"
					/>

					<span class="select__value"> TikTok </span>
				</button>
			</li>

			<li class="custom-select__option" data-select-option>
				<button
					class="select__button btn-res flex-align-center state-color"
					data-option-inner-button
				>
					<img
						class="select__icon"
						src="assets/images/socials/youtube.svg"
						width="26"
						height="26"
						alt="Ютуб"
						loading="lazy"
						decoding="auto"
					/>

					<span class="select__value"> YouTube </span>
				</button>
			</li>

			<li class="custom-select__option" data-select-option>
				<button
					class="select__button btn-res flex-align-center state-color"
					data-option-inner-button
				>
					<img
						class="select__icon"
						src="assets/images/socials/odnoklassniki.svg"
						width="26"
						height="26"
						alt="Одноклассники"
						loading="lazy"
						decoding="auto"
					/>

					<span class="select__value"> Одноклассники </span>
				</button>
			</li>

			<li class="custom-select__option" data-select-option>
				<button
					class="select__button btn-res flex-align-center state-color"
					data-option-inner-button
				>
					<img
						class="select__icon"
						src="assets/images/socials/twitter.svg"
						width="26"
						height="26"
						alt="Твиттер"
						loading="lazy"
						decoding="auto"
					/>

					<span class="select__value"> Twitter </span>
				</button>
			</li>
		</ul>
	</div>
</div>
